
					{{#each shopList}}
			<div class="yun-box" data-email="{{email}}">
				<img class="yun-boximage" src="{{shopPhotoUrl}}">
					<div class="kh-basic">
						<h1 id="kh-shopListName"style=" font-size: 20px;">{{shopName}}</h1>
						<p style="font: icon; font-size: 13px;">{{shopAddr}}</p>
						<div class="starrr"></div>
					</div>
					<div class="kh-detail">
						<h2>{{shopName}}</h2>
						<div class="starrr"></div>
					</div>
					<div class="kh-gradation"></div>
			</div>
						{{/each}}

