<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Beauty Chu~♥</title>

<link rel="shortcut icon" href="../images/favicon.ico"
	type="image/x-icon">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="shopsheet" type="text/css" href="../css/common.css">

<style type="text/css">
/* 스타일 적용 공간! */
/*  * {
	border: 1px solid red;
} 
 */
#yun-shopdetailcontainer {
	width: 1150px;
	height: 600px;
}

.yun-shopcontainerdiv {
	width: 528px;
	height: 560px;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
}

#yun-buttondiv {
	height: 50px;
	float: right;
}

.yun-shopphotobig {
	width: 520px;
	height: 500px;
	float: left;
	margin-bottom: 3px;
}

.yun-shopphotosmall {
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 3px;
}

#yun-shoptitle {
	height: 90px;
}

#yun-shopcontentdetail {
	height: 130px;
}

.yun-shopcomment{
	width : 100%;
}

</style>

</head>
<body>

	<header> header 건들지 말긔! </header>



	<div id="wrap-chu" class="wrap-chu">

 -->
<!-- <link rel="import" href="../js/resources/jquery-1.9.1.min.js">
  <link rel="import" href="../js/resources/kh/jssor.js">
  <link rel="import" href="../js/resources/kh/jssor.slider.js"> -->




<!-- <script type="text/javascript" src="../js/resources/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/resources/kh/jssor.js"></script>
    <script type="text/javascript" src="../js/resources/kh/jssor.slider.js"></script> -->
<div id=yun-shopdetailcontainer>

	<!--*****************************************************************************************-->
	<!--**************************** 샵사진 슬라이드가 들어가는 div *****************************-->
	<div id='yun-shopphotolist' class=yun-shopcontainerdiv></div>

	<!--*****************************************************************************************-->
	<!--**************************** 버튼 div  **************************************************-->
	<div id=yun-shopcontent class=yun-shopcontainerdiv>
		<div id=yun-buttondiv>
			<img class=yun-back src="../images/yun-shopdetail/back-icon.png">
			<!-- <img class=yun-exit src="../images/yun-shopdetail/exit-icon.png"> -->
		</div>
		<!--*****************************************************************************************-->
		<!--**************************** 샵 제목 div  ***********************************************-->

		<div id=yun-shoptitle>
			<h1>{{shop.shopName}}</h1>
		</div>
		<!--*****************************************************************************************-->
		<!--**************************** 샵 내용 div **************************************-->

		<div id='yun-shopcontentdetail'>
			<pre>{{shop.shopIntro}}
			{{shop.shopAddr}}
			{{shop.shopTel}}
</pre>



		</div>




		<div class=buttondiv>
			<div class="ui black basic button yun-shoppricelist">Price List
				></div>
			<div class="ui black basic button kh-shopmap"
				data-email="{{shop.email}}">지도보기 ></div>
			<div class="md-modal md-effect-1" id="modal-1">
				<div class="md-content">
					<h3>쿠폰 발급</h3>
					<div>
						<p>쿠폰이 발급 되었습니다. 쿠폰함으로 가시겠습니까?</p>
						<!-- 					<ul>
						<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
						<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
						<li><strong>Close:</strong> click on the button below to close the modal.</li>
					</ul> -->
						<button>쿠폰함 이동</button>
						<button class="md-close">닫기</button>
					</div>
				</div>
			</div>
			<button class="md-trigger" data-modal="modal-1">쿠폰 발급</button>
			<div class="md-overlay" style="background: rgba(0, 0, 0, 0.8);"></div><!-- the overlay element -->
		</div>

		<div id=yun-shopcomment class=yun-shopcomment></div>
	</div>
</div>

<script>

$( document ).ready(function() {
	$(".kh-smalldetail").css("display", "none");
$(".yun-shopstyle").hover(
		  function () {
			  $(this).find(".kh-smallbasic").css("display", "none");
			  $(this).find(".kh-smalldetail").css("display", "block");
			  $(this).find(".kh-gradation").css("display", "block");
		  },
		  function () {
			  $(this).find(".kh-smallbasic").css("display", "block");
			  $(this).find(".kh-smalldetail").css("display", "none");
			  $(this).find(".kh-gradation").css("display", "none");
		  }
		);
});





</script>
<script type="text/javascript" src="../js/resources/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/resources/kh/jssor.js"></script>
<script type="text/javascript" src="../js/resources/kh/jssor.slider.js"></script>
<!-- 쿠폰 -->

		<!-- classie.js by @desandro: https://github.com/desandro/classie -->
		<script src="../js/resources/coupon/classie.js"></script>
		<script src="../js/resources/coupon/modalEffects.js"></script>

		<!-- for the blur effect -->
		<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
		<script>
			// this is important for IEs
			var polyfilter_scriptpath = '/js/';
		</script>
		<script src="../js/resources/coupon/cssParser.js"></script>
		<script src="../js/resources/coupon/css-filters-polyfill.js"></script>

<!-- 
	</div>


	<footer> footer 건들지 말긔! </footer>




	<script type="text/javascript"
		src='../js/resources/jquery-2.1.1.min.js'></script>
	<script>
		$('header').load('common/header.html');
		$('footer').load('common/footer.html');

		/* 
		window.setTimeout('window.location.reload()', 7000); //60초마다 새로고침
		 */
	</script>
</body>
</html> -->