@charset "utf-8";

/* font */
@import url('font.css');

/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {font-family:'Nanum Gothic', 'Tahoma', 'arial'; border:0 none; margin:0; padding:0;}
body, input, button, textarea, select {font-family:'Nanum Gothic', '맑은 고딕', '돋움', ​dotum, 'Tahoma', 'arial'; color:#1e1e1e; line-height:18px; font-size:13px; margin:0; padding:0;}
select {color:#4a4a4a; font-family:'Nanum Gothic', '맑은 고딕', '돋움', ​dotum;}
-ms-select {color:#4a4a4a; font-family:'Nanum Gothic', '맑은 고딕', '돋움', ​dotum;}
table {width:100%; border-collapse:collapse; border-spacing:0;}
select, input, img {vertical-align:top;}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal;}
ul, li, ol {list-style-type:none;}
hr {display:none;}
legend {position:absolute; z-index:-1; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
caption {z-index:-1; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
a {color:#1e1e1e; font-family:'Nanum Gothic', 'Tahoma', 'arial'; text-decoration:none;}
a:hover {text-decoration:underline;}
a:focus {outline:1px dotted #aaa; text-decoration:underline;}

/* skip */
#skipnavi {position:fixed; left:0; top:0; width:100%; z-index:900;}
#skipnavi a {position:absolute; left:0; top:-9999px; display:block; width:100%; height:30px; color:#fff; font-size:13px; font-weight:bold; line-height:30px; text-align:center; background:#000;}
#skipnavi a:focus, #skipnavi a:active {top:0;}
#skipnavi a:hover {text-decoration:underline;}

/* wrap */
#wrap {overflow:hidden; min-width:1400px;}

/* common_style */
.blind {font-size:0; line-height:0; position:absolute; height:0; width:0;}
.point_e42a1e {color:#e42a1e !important;}
.point_777 {color:#777 !important; font-size:12px;}
.txt_4a4a4a {color:#4a4a4a !important;}
label.txt_out {text-indent:-9999px; right:auto !important; left:-9999px;}

.board_search {overflow:hidden; text-align:right; position:relative; margin-bottom:30px;}
.board_search label {color:#777; font-size:12px; position:absolute; right:120px; top:5px;}
.board_search .input_txt {background-color:#fff; display:inline-block; border:1px solid #dcdcdc; text-align:left; padding:4px 10px 0 10px; height:22px; width:228px;}
.board_search .input_txt input[type=text] {color:#777; border:none; font-size:12px; padding:0; height:18px; width:200px;}
.board_search .input_txt input[type=text]:focus {border:none !important;}
.board_search .btn_search {background:url('/images/btn/search.png') no-repeat 0 0; display:block; border:none; cursor:pointer; text-indent:-9999px; position:absolute; right:5px; top:1px; height:24px; width:24px;}

.mail {overflow:hidden;}
.mail select, .mail > span, .mail button, .mail input[type=text] {display:block; float:left;}
.mail .btn_submit {background:url('/images/btn/bg_submit.gif') no-repeat 0 0; margin-right:5px; margin-left:5px; height:30px; width:56px;}
.mail > span {margin-right:3px; margin-left:3px; padding-top:3px;}
.mail .inactive {background-color:#f7f7f7; border:1px solid #f7f7f7 !important;}

/* btn_style */
.btn_left {overflow:hidden; text-align:left;}
.btn_left a {margin-left:5px;}
.btn_left a:first-child {margin-left:0;}
.btn_center {overflow:hidden; text-align:center;}
.btn_center a {margin-left:5px;}
.btn_center a:first-child {margin-left:0;}
.btn_right {overflow:hidden; text-align:right;}
.btn_right a {margin-left:5px;}
.btn_right a:first-child {margin-left:0;}

.btn_e42a1e {background-color:#e42a1e; border:1px solid #e42a1e; color:#fff;}
.btn_4a4a4a {background-color:#4a4a4a; border:1px solid #4a4a4a; color:#fff;}
.btn_1e1e1e {background-color:#1e1e1e; border:1px solid #1e1e1e; color:#fff;}
.btn_7f7f7f {background-color:#7f7f7f; border:1px solid #7f7f7f; color:#fff;}
.btn_f7f7f7 {background-color:#f7f7f7; border:1px solid #7f7f7f; color:#1e1e1e;}
.btn_fff {background-color:#fff; border:1px solid #1e1e1e; color:#1e1e1e;}

.btn_style01 {display:inline-block; line-height:28px; text-align:center; height:28px;}
.btn_style02 {display:inline-block; font-size:14px; font-weight:bold; line-height:38px; text-align:center; height:38px;}
.btn_style03 {display:inline-block; font-size:14px; font-weight:bold; line-height:43px; text-align:center; height:43px;}
.btn_style04 {display:inline-block; font-size:16px; font-weight:bold; line-height:48px; text-align:center; height:48px;}
.btn_style05 {display:inline-block; font-size:18px; font-weight:bold; line-height:58px; text-align:center; height:58px;}

/* input_style */
input[type=text] {border:1px solid #7f7f7f; padding:3px; height:22px;}
input[type=password] {border:1px solid #7f7f7f; padding:3px; height:22px;}
input[type=checkbox] {line-height:1.5em; height:13px; width:13px;}
select {border:1px solid #b4b4b4; line-height:30px; vertical-align:middle; height:30px;}
textarea {background-color:#fff; border:1px solid #7f7f7f; resize:none; padding:3px;}
.btn_submit {border:none; cursor:pointer;}
.btn_submit:focus {border:1px solid #1e1e1e;}
input.focus[type=text], input.focus[type=password], select.focus, textarea.focus {border:1px solid #e42a1e;}

/* header */
#header {width:100%;}

/* utill_menu */
.wrap_utill {background-color:#e9e9e9; border-bottom:1px solid #cacaca; height:27px; width:100%;}
.utill_area {position:relative; margin:0 auto; height:27px; width:1000px; z-index:400;}
.utill_area h1 {position:absolute; left:0; top:54px; height:23px; width:145px;}
.utill_area .utill_menu {float:right;}
.utill_menu .short_link {float:left; margin-right:10px;}
.utill_menu .short_link > ul {position:relative; height:28px; z-index:10;}
.utill_menu .short_link > ul > li {float:left; background:url('/images/bullet/utill_bar.png') no-repeat 0 10px; margin-left:10px; padding-left:11px; height:28px;}
.utill_menu .short_link > ul > li:first-child {background:none; margin-left:0; padding-left:0;}
.utill_menu .short_link > ul > li > a {display:block; font-size:11px; line-height:28px; height:28px;}
.utill_menu .short_link ul li.mypage > a {background:url('/images/bullet/arrow_black_off.gif') no-repeat right 13px; padding-right:10px;}
.utill_menu .short_link ul li.mypage > a.on {background:url('/images/bullet/arrow_black_on.gif') no-repeat right 13px; }
.utill_menu .short_link ul li.mypage .open_mypage {background-color:#fff; display:none; position:absolute; left:53px; top:28px; width:82px; z-index:10;}
.utill_menu .short_link ul li.mypage .open_mypage ul {overflow:hidden; border-bottom:1px solid #cacaca; width:82px;}
.utill_menu .short_link ul li.mypage .open_mypage ul li {overflow:hidden; border-top:1px solid #cacaca; border-right:1px solid #cacaca; border-left:1px solid #cacaca;}
.utill_menu .short_link ul li.mypage .open_mypage ul li:first-child {border-top:none;}
.utill_menu .short_link ul li.mypage .open_mypage ul li a {background-color:#fff; display:block; overflow:hidden; font-size:11px; line-height:28px; padding-left:10px; height:28px;}

.utill_menu .short_link ul li.store a {background:url('/images/bullet/icon_store.png') no-repeat right 7px; padding-right:15px;}
.utill_menu .social {float:left; width:85px;}
.utill_menu .social ul {overflow:hidden; border-left:1px solid #cacaca; width:80px;}
.utill_menu .social ul li {float:left; height:28px;}
.utill_menu .social ul li a {display:block; font-size:0; line-height:0; text-align:center; padding-top:9px; height:18px; width:25px;}

.utill_menu .language {float:left; position:relative; width:82px; z-index:10;}
.utill_menu .language > a {background:url('/images/bullet/arrow_black_off.gif') no-repeat 69px 13px #e9e9e9; display:block; overflow:hidden; border-bottom:1px solid #cacaca; border-right:1px solid #cacaca; border-left:1px solid #cacaca; font-family:verdana; font-size:10px; line-height:27px; padding-left:6px; height:27px; width:74px;}
.utill_menu .language > a.on {background:url('/images/bullet/arrow_black_on.gif') no-repeat 69px 13px #e9e9e9; }
.utill_menu .language .open_language {display:none; position:absolute; right:0; top:28px; z-index:10;}
.utill_menu .language .open_language ul {background-color:#fff; overflow:hidden; border-bottom:1px solid #cacaca; width:82px;}
.utill_menu .language .open_language ul li {overflow:hidden; border-top:1px solid #cacaca; border-right:1px solid #cacaca; border-left:1px solid #cacaca;}
.utill_menu .language .open_language ul li:first-child {border-top:none;}
.utill_menu .language .open_language ul li a {display:block; overflow:hidden; font-family:verdana; font-size:10px; line-height:28px; padding-left:6px; height:28px;}

/* layer_login */
.layer_login {display:none; background-color:#fff; overflow:hidden; border:1px solid #cacaca; position:absolute; left:0; top:27px; height:157px; width:413px; z-index:400;}
.layer_login .user {overflow:hidden; position:relative; padding-top:35px;}
.layer_login .user dl {display:block; overflow:hidden; margin-bottom:10px; padding-left:20px; width:357px;}
.layer_login .user dl dt,
.layer_login .user dl dd {float:left;}
.layer_login .user dl dt {font-weight:bold; padding-top:5px; width:60px;}
.layer_login .user dl dd {width:210px;}
.layer_login .user dl dd input[type=text],
.layer_login .user dl dd input[type=password] {border:1px solid #1e1e1e; width:204px;}
.layer_login .user dl dd label {color:#777; font-size:12px; position:absolute; left:90px;}
.layer_login .user dl.id_indent dd label {top:40px;}
.layer_login .user dl.pass_indent dd label {top:80px; *top:85px;}
.layer_login .user .btn_login {background-color:#e3291d; border:none; cursor:pointer; text-align:center; position:absolute; right:25px; top:35px; height:70px; width:90px;}
.layer_login .user .btn_login:focus {border:1px solid #1e1e1e;}
.layer_login .user .btn_login strong {color:#fff; font-size:16px; line-height:70px;}
.layer_login .user .user_set {overflow:hidden; text-align:left; padding-left:83px; width:285px;}
.layer_login .user .user_set span,
.layer_login .user .user_set a {display:block;}
.layer_login .user .user_set span {float:left;}
.layer_login .user .user_set span input[type=checkbox] {vertical-align:middle;}
.layer_login .user .user_set span label {color:#777; font-size:12px; margin-left:5px;}
.layer_login .user .user_set a {float:left; font-size:12px; letter-spacing:-1px; margin-left:24px; *margin-left:21px;}
.layer_login .close {display:block; position:absolute; right:10px; top:10px; }

/* gnb */
#gnb {position:relative; width:100%; z-index:200;}
.gnb_menu {overflow:hidden; height:69px; width:100%;}
.gnb_menu .wrap_gnb {position:relative; margin:0 auto; height:69px; width:1000px;}
.gnb_menu .wrap_gnb ul {display:block; overflow:hidden; position:absolute; left:205px; top:35px; height:35px;}
.gnb_menu .wrap_gnb ul li {background:url('/images/bullet/bullet_gnb.png') no-repeat 0 5px; display:block; float:left; margin-left:23px; padding-left:36px; height:20px;}
.gnb_menu .wrap_gnb ul li:first-child {background:none; margin-left:0; padding-left:0;}
.gnb_menu .wrap_gnb ul li a {display:block; padding:1px;}

/* gnb_menu_open */
.gnb_menu .menu_open {display:none;}
.gnb_menu.on .menu_open {display:block; overflow:hidden; position:absolute; left:0; top:50px; padding-top:20px; padding-bottom:20px; width:100%; z-index:200;}
.menu_open .sub_menu {background-color:#fff; overflow:hidden; border-right:1px solid #1e1e1e; border-bottom:1px solid #1e1e1e; border-left:1px solid #1e1e1e; position:relative; margin:0 auto; padding-top:20px; padding-bottom:20px; width:1000px;}
.menu_open .sub_menu > ul {overflow:hidden; padding-left:205px;}
.menu_open .sub_menu > ul > li {display:block; float:left; border-left:1px dotted #cacaca; padding-right:15px; padding-left:15px; height:110px; width:77px;}
.menu_open .sub_menu > ul > li:first-child {border-left:none; padding-left:0;}
.menu_open .sub_menu > ul > li ul {overflow:hidden;}
.menu_open .sub_menu > ul > li ul li {display:block; padding:1px;}
.menu_open .sub_menu > ul > li ul li a {display:block; text-align:center; height:25px; width:77px;}
.menu_open .sub_menu > ul > li ul li a:hover {color:#e42a1e;}
.menu_open .sub_menu .close_gnb {display:block; position:absolute; right:10px; top:10px;}

.my_info_open {position:absolute; right:0; top:25px;}
.my_info_open a {display:block; float:left; margin-left:15px;}
.my_info_open a:first-child {margin-left:0;}
.my_info_open .btn_benefit {padding-top:5px;}
.my_info_open .btn_cart .number {color:#fff; font-size:10px; font-weight:bold; line-height:12px; text-align:center; position:absolute; right:0; top:0; height:12px; width:18px;}

/* fixed_shop */
.fixed .shop {position:fixed; left:0; top:0; height:50px; z-index:300;}
.fixed .shop .shop_involved {height:50px;}
.fixed .shop_menu .category > ul > li > a {display:block; color:#fff; line-height:50px; height:50px;}
.fixed .category ul li.skin a {background-position:right 23px;}
.fixed .category ul li.vip a {background-position:0 21px;}

.fixed .category .shop_search {display:none;}
.fixed .category .fixe_layout {display:block; position:absolute; right:0; top:0;}
.fixed .category .fixe_layout .my_itskin {display:block; float:left; text-align:center; padding-top:15px; height:35px; width:133px;}

.fixed .category .fixe_layout .cart {display:block; float:left; border-left:1px solid #4a4a4a; text-align:center; position:relative; padding-top:12px; height:38px; width:75px;}
.fixed .category .fixe_layout .cart .number {color:#fff; font-size:10px; font-weight:bold; line-height:12px; text-align:center; position:absolute; right:19px; top:11px; height:12px; width:18px;}

.fixed .category .fixe_layout .open_search {display:block; float:left; border-left:1px solid #4a4a4a; text-align:center; padding-top:13px; height:37px; width:58px;}
.fixed .category .fixe_layout .shop_search.fixe {background-color:#1e1e1e; display:none; overflow:hidden; position:absolute; right:0; top:0; *top:8px; padding-top:10px; height:40px; width:258px;}
.fixed .category .fixe_layout .shop_search.fixe label {color:#777; font-size:12px; position:absolute; left:10px; top:13px;}
.fixed .category .fixe_layout .shop_search.fixe .input_txt {background-color:#fff; display:block; padding:4px 10px 0 10px; height:22px; width:201px;}
.fixed .category .fixe_layout .shop_search.fixe .input_txt input[type=text] {color:#777; border:none; font-size:12px; padding:0; height:18px; width:180px;}
.fixed .category .fixe_layout .shop_search.fixe .input_txt input[type=text]:focus {border:none !important;}
.fixed .category .fixe_layout .shop_search.fixe .btn_search {background:url('/images/btn/search.png') no-repeat 0 0; display:block; border:none; text-indent:-9999px; position:absolute; right:43px; top:11px; height:24px; width:24px;}
.fixed .category .fixe_layout .shop_search.fixe .close {display:block; position:absolute; right:10px; top:15px;}

/* shop category */
.shop {display:block; position:relative; height:40px; width:100%; z-index:100;}
.shop_involved {background-color:#1e1e1e; display:block; height:40px; width:100%;}
.shop_involved .shop_menu {position:relative; width:100%;}
.shop_involved .shop_menu .category {border-right:1px solid #4a4a4a; position:relative; margin:0 auto; width:1000px;}
.category > ul {height:40px;}
.category > ul > li {float:left;}
.category > ul > li > a {display:block; color:#fff; line-height:40px; height:40px;}
.category > ul > li:first-child {border-left:1px solid #4a4a4a;}
.category > ul > li.go_menu {border-right:1px solid #4a4a4a;}
.category > ul > li.go_menu > a {padding-right:20px; padding-left:20px;}
.category > ul > li.depth01 {margin-right:9px; margin-left:10px;}
.category > ul > li.depth01 > a {display:block; padding-right:5px; padding-left:5px;}

.category ul li.skin {border-left:1px solid #4a4a4a; margin-right:20px; padding-left:20px;}
.category ul li.skin a {background:url('/images/bullet/arrow_white_off.gif') no-repeat right 18px; padding-right:14px;}
.category ul li.skin a.on {background:url('/images/bullet/arrow_white_on.gif') no-repeat right 18px; }
.category ul li.vip {border-right:1px solid #4a4a4a; border-left:1px solid #4a4a4a; padding-right:10px; padding-left:14px;}
.category ul li.vip a {background:url('/images/bullet/category_vip.png') no-repeat 0 15px; padding-left:14px;}

.category .shop_search {overflow:hidden; position:absolute; right:10px; top:7px; *top:8px;}
.category .shop_search label {color:#777; font-size:12px; position:absolute; left:10px; top:3px;}
.category .shop_search .input_txt {background-color:#fff; display:block; padding:4px 10px 0 10px; height:22px; width:228px;}
.category .shop_search .input_txt input[type=text] {color:#777; border:none; font-size:12px; padding:0; height:18px; width:200px;}
.category .shop_search .input_txt input[type=text]:focus {border:none !important;}
.category .shop_search .btn_search {background:url('/images/btn/search.png') no-repeat 0 0; display:block; border:none; text-indent:-9999px; position:absolute; right:5px; top:1px; height:24px; width:24px;}

.category .fixe_layout {display:none;}

/* category_submenu */
.fixed .category .open_category {top:50px;}
.category .open_category {background-color:#fff; border-right:1px solid #1e1e1e; border-bottom:1px solid #1e1e1e; border-left:1px solid #1e1e1e; text-align:center; position:absolute; left:0; top:40px; z-index:2; padding-top:20px; padding-bottom:20px; width:100%;}
.category .open_category .now {display:block; position:absolute; top:-6px;}
.category .open_category .shop_depth02 {display:inline-block; overflow:hidden;}
.category .open_category .shop_depth02 ul {overflow:hidden;}
.category .open_category .shop_depth02 > ul > li {display:block; float:left; border-left:1px dotted #cacaca; padding-right:35px; padding-left:35px;}
.category .open_category .shop_depth02 > ul > li:first-child {border-left:none; padding-left:0;}
.category .open_category .shop_depth02 > ul > li > a {display:block; font-size:14px; font-weight:bold; text-align:center; margin-bottom:20px;}
.category .open_category .shop_depth02 > ul > li > a:hover {color:#e42a1e;}
.category .open_category .shop_depth02 .shop_depth03 {overflow:hidden;}
.category .open_category .shop_depth02 .shop_depth03 li {display:block; padding:1px;}
.category .open_category .shop_depth02 .shop_depth03 li a {display:block; color:#4a4a4a; text-align:center; padding-top:4px; padding-bottom:4px;}
.category .open_category .shop_depth02 .shop_depth03 li a:hover {color:#e42a1e;}

.category .open_category.m01 {display:none;}
.category .open_category.m02 {display:none;}
.category .open_category.m03 {display:none;}
.category .open_category.m04 {display:none;}
.category .open_category.m05 {display:none;}

.category .depth01.m01:hover .open_category.m01 {display:block;}
.category .depth01.m02:hover .open_category.m02 {display:block;}
.category .depth01.m03:hover .open_category.m03 {display:block;}
.category .depth01.m04:hover .open_category.m04 {display:block;}
.category .depth01.m05:hover .open_category.m05 {display:block;}

.category .open_category.m01 .shop_depth02 > ul > li {height:150px;}
.category .open_category.m02 .shop_depth02 > ul > li {height:205px;}
.category .open_category.m03 .shop_depth02 > ul > li {height:120px;}
.category .open_category.m04 .shop_depth02 > ul > li {height:95px;}
.category .open_category.m05 .shop_depth02 > ul > li {height:20px;}

.shop_involved .shop_menu .sub_menu {display:none; background-color:#fff; border-bottom:1px solid #cacaca; padding-bottom:20px; height:160px; width:100%;}
.shop_involved .shop_menu .sub_menu .menu_wrap {background-color:#fff; margin:0 auto; padding-top:20px; padding-left:120px; width:820px;}
.shop_involved .shop_menu .sub_menu .menu_wrap > ul {overflow:hidden;}
.shop_involved .shop_menu .sub_menu .menu_wrap > ul > li {display:block; float:left; margin-left:46px; padding:1px;}
.shop_involved .shop_menu .sub_menu .menu_wrap > ul > li > a {display:block; padding-top:4px; padding-bottom:4px;}
.shop_involved .shop_menu .sub_menu .menu_wrap > ul > li > a:hover {color:#e42a1e;}
.shop_involved .shop_menu .sub_menu .menu_wrap > ul > li:first-child {margin-left:0;}
.shop_involved .shop_menu .sub_menu .menu_wrap > ul > li ul {overflow:hidden;}
.shop_involved .shop_menu .sub_menu .menu_wrap > ul > li ul li {display:block; padding:1px;}
.shop_involved .shop_menu .sub_menu .menu_wrap > ul > li ul li a {display:block; padding-top:4px; padding-bottom:4px;}
.shop_involved .shop_menu .sub_menu .menu_wrap > ul > li ul li a:hover {color:#e42a1e;}

/* my it's skin common style */
.benefit_wish {display:none; position:absolute; left:0; top:1px; height:176px; width:100%; z-index:300;}
.benefit_wish .wrap_area {background-color:#fff; border-right:1px solid #1e1e1e; border-bottom:1px solid #1e1e1e; border-left:1px solid #1e1e1e; position:relative; margin:auto; width:1000px;}
.benefit_wish .wrap_area .tab {display:block; overflow:hidden; width:1000px;}
.benefit_wish .wrap_area .tab li {float:left; border-bottom:1px solid #cacaca; border-left:1px solid #cacaca; padding:1px;}
.benefit_wish .wrap_area .tab li:first-child {border-left:none;}
.benefit_wish .wrap_area .tab li.on {border-bottom:none;}
.benefit_wish .wrap_area .tab li a {display:block; font-weight:bold; line-height:38px; text-align:center; height:38px; width:497px;}
.benefit_wish .now_menu {display:block; position:absolute; right:78px; top:-7px;}

.fixed .benefit_wish {top:50px;}
.fixed .benefit_wish .now_menu {right:190px;}

/* my it's: skin_benefit */
.benefit {background-color:#fff; display:block; overflow:hidden; position:relative; margin:auto; height:176px; width:1000px;}
.benefit .title {overflow:hidden; width:1000px;}
.benefit .title a {display:block; float:left; border-bottom:1px solid #1e1e1e; border-left:1px solid #1e1e1e; text-align:center; line-height:38px; height:38px; width:500px; *width:499px;}
.benefit .title a:first-child {border-left:none; width:499px;}
.benefit .title a.on {border-bottom:none;}

.benefit .benefit_conts {display:block; overflow:hidden; height:136px;}
.benefit .benefit_conts .login {display:block; overflow:hidden; margin:0 auto; padding-top:15px; height:80px; width:920px;}
.benefit .benefit_conts .login .info_class {float:left; height:80px;}
.benefit .benefit_conts .login .info_class .icon {float:left;}
.benefit .benefit_conts .login .info_class .icon img {height:79px; width:79px;}
.benefit .benefit_conts .login .info_class .txt {float:left; margin-left:30px;}
.benefit .benefit_conts .login .info_class .txt p {margin-bottom:20px;}
.benefit .benefit_conts .login .info_class .txt p:first-child {margin-bottom:0;}
.benefit .benefit_conts .login .info_class .txt a {font-size:12px;}
.benefit .benefit_conts .login .info_class .txt a img {vertical-align:middle; margin-left:5px;}
.benefit .benefit_conts .login .point {float:left; margin-left:55px; height:80px;}
.benefit .benefit_conts .login .point dl {display:block; overflow:hidden; border-left:1px dotted #cacaca; padding-left:45px;}
.benefit .benefit_conts .login .point dl dt {display:block; margin-bottom:10px;}
.benefit .benefit_conts .login .point dl dd {background:url('/images/layout/header_point.png') no-repeat 0 0; padding-left:90px; height:50px;}
.benefit .benefit_conts .login .point dl dd strong {display:block; font-size:20px; line-height:1em; margin-bottom:10px;}
.benefit .benefit_conts .login .point dl dd a {font-size:12px;}
.benefit .benefit_conts .login .point dl dd a img {vertical-align:middle; margin-left:5px;}
.benefit .benefit_conts .login .coupon {float:left; margin-left:35px; height:80px;}
.benefit .benefit_conts .login .coupon dl {display:block; overflow:hidden; border-left:1px dotted #cacaca; padding-left:40px;}
.benefit .benefit_conts .login .coupon dl dt {display:block; margin-bottom:10px;}
.benefit .benefit_conts .login .coupon dl dd {background:url('/images/layout/header_coupon.png') no-repeat 0 0; padding-left:110px; height:50px;}
.benefit .benefit_conts .login .coupon dl dd strong {display:block; font-size:20px; line-height:1em; margin-bottom:10px;}
.benefit .benefit_conts .login .coupon dl dd a {font-size:12px;}
.benefit .benefit_conts .login .coupon dl dd a img {vertical-align:middle; margin-left:5px;}

.benefit .benefit_conts .not {display:none; overflow:hidden; margin:0 auto; padding-top:15px; height:110px; width:920px;}
.benefit .benefit_conts .not .lead_login {background:url('/images/layout/man.png') no-repeat center 0; padding-top:50px;}
.benefit .benefit_conts .not .lead_login p {color:#777; font-size:12px; text-align:center; margin-bottom:10px;}

/* my it's: skin_wishlist */
.wishlist {background-color:#fff; display:none; overflow:hidden; margin:0 auto; height:176px; width:1000px; /*z-index:100;*/}
.wishlist .title {overflow:hidden; width:1000px;}
.wishlist .title a {display:block; float:left; border-bottom:1px solid #1e1e1e; border-left:1px solid #1e1e1e; text-align:center; line-height:38px; height:38px; width:500px;}
.wishlist .title a:first-child {border-left:none; width:499px;}
.wishlist .title a.on {border-bottom:none;}

.wishlist .list_conts {display:block; overflow:hidden; height:136px;}
.wishlist .list_conts .prd_roll {display:block; overflow:hidden; position:relative; margin:0 auto; width:958px;}
.wishlist .list_conts .prd_roll .go_prev {display:block; position:absolute; left:0; top:63px; height:11px; width:11px;}
.wishlist .list_conts .prd_roll .go_next {display:block; position:absolute; right:0; top:63px; height:11px; width:11px;}
.wishlist .list_conts .prd_roll .roll_area {overflow:hidden; margin:0 auto; width:882px;}
.wishlist .list_conts .prd_roll .roll_area ul {overflow:hidden; height:136px; width:500%;}
.wishlist .list_conts .prd_roll .roll_area ul li {float:left; height:136px; width:126px;}
.wishlist .list_conts .prd_roll .roll_area ul li .prd_info {overflow:hidden; position:relative; height:136px; width:126px;}
.wishlist .list_conts .prd_roll .roll_area .prd_info a {display:block; overflow:hidden; height:136px; width:126px;}
.wishlist .list_conts .prd_roll .roll_area .prd_info a .thumnail {display:block; overflow:hidden; margin:0 auto; padding-top:18px; height:100px; width:100px;}
.wishlist .list_conts .prd_roll .roll_area .prd_info a .thumnail img {height:100px; width:100px;}
.wishlist .list_conts .prd_roll .roll_area .prd_info .box {display:none;}
.wishlist .list_conts .prd_roll .roll_area .prd_info a:hover .box,
.wishlist .list_conts .prd_roll .roll_area .prd_info a:focus .box {background:url('/images/layout/header_bg_over.png') repeat 0 0; display:block; overflow:hidden; cursor:pointer; position:absolute; left:0; top:0; height:136px; width:126px;}
.wishlist .list_conts .prd_roll .roll_area .prd_info .box span,
.wishlist .list_conts .prd_roll .roll_area .prd_info .box del,
.wishlist .list_conts .prd_roll .roll_area .prd_info .box strong {display:block; color:#fff; font-size:12px; text-align:center;}
.wishlist .list_conts .prd_roll .roll_area .prd_info .box span {margin-bottom:3px; padding-top:30px;}

.wishlist .not {display:none; overflow:hidden; padding-top:15px;}
.wishlist .not .lead_login {background:url('/images/layout/man.png') no-repeat center 0; padding-top:50px;}
.wishlist .not .lead_login p {color:#777; font-size:12px; text-align:center; margin-bottom:10px;}

.wishlist .wish_none {background:url('/images/layout/notice_mark.png') no-repeat center 35px; display:none;}
.wishlist .wish_none .notice {overflow:hidden; height:136px;}
.wishlist .wish_none .notice p {font-size:12px; text-align:center; padding-top:90px;}

/* cart_latest_common_style */
.cart_latest {display:none; position:absolute; left:0; top:1px; height:176px; width:100%; z-index:300;}
.cart_latest .wrap_area {background-color:#fff; border-right:1px solid #1e1e1e; border-bottom:1px solid #1e1e1e; border-left:1px solid #1e1e1e; position:relative; margin:auto; width:1000px;}
.cart_latest .wrap_area .now_menu {display:block; position:absolute; right:15px; top:-7px;}

.fixed .cart_latest {top:50px;}
.fixed .cart_latest .now_menu {right:92px;}

/* cart */
.cart {display:block; overflow:hidden;}
.cart .title {overflow:hidden; width:1000px;}
.cart .title a {display:block; float:left; border-bottom:1px solid #1e1e1e; border-left:1px solid #1e1e1e; text-align:center; line-height:38px; height:38px; width:500px; *width:499px;}
.cart .title a:first-child {border-left:none; width:499px;}
.cart .title a.on {border-bottom:none;}
.cart .prd_roll {display:block; float:left; height:136px; width:772px;}
.cart .prd_roll .cart_box {overflow:hidden; position:relative; margin:0 auto; width:732px; *width:715px;}
.cart .prd_roll .cart_box .go_prev {display:block; position:absolute; left:0; top:63px;}
.cart .prd_roll .cart_box .go_next {display:block; position:absolute; right:0; top:63px;}
.cart .prd_roll .cart_box .roll_area {overflow:hidden; margin:0 auto; width:680px;}
.cart .prd_roll .cart_box .roll_area ul {overflow:hidden; height:136px; width:500%;}
.cart .prd_roll .cart_box .roll_area ul li {float:left; height:136px; width:136px;}
.cart .prd_roll .cart_box .roll_area ul li .prd_info {overflow:hidden; position:relative; height:136px; width:136px;}
.cart .prd_roll .cart_box .roll_area .prd_info a {display:block; overflow:hidden; height:136px; width:136px;}
.cart .prd_roll .cart_box .roll_area .prd_info a .thumnail {display:block; overflow:hidden; margin:0 auto; padding-top:18px; height:100px; width:100px;}
.cart .prd_roll .cart_box .roll_area .prd_info a .thumnail img {height:100px; width:100px;}
.cart .prd_roll .cart_box .roll_area .prd_info .box {display:none;}
.cart .prd_roll .cart_box .roll_area .prd_info a:hover .box,
.cart .prd_roll .cart_box .roll_area .prd_info a:focus .box {background:url('/images/layout/header_bg_over.png') repeat 0 0; display:block; overflow:hidden; cursor:pointer; position:absolute; left:0; top:0; height:136px; width:136px;}
.cart .prd_roll .cart_box .roll_area .prd_info .box span,
.cart .prd_roll .cart_box .roll_area .prd_info .box del,
.cart .prd_roll .cart_box .roll_area .prd_info .box strong {display:block; color:#fff; font-size:12px; text-align:center;}
.cart .prd_roll .cart_box .roll_area .prd_info .box span {margin-bottom:3px; padding-top:30px;}

.cart .cart_none {background:url('/images/layout/notice_mark.png') no-repeat center 35px; display:none; float:left; width:772px;}
.cart .cart_none .notice {overflow:hidden; height:136px;}
.cart .cart_none .notice p {color:#777; font-size:12px; text-align:center; padding-top:90px;}

.cart .price_cart {float:left; border-left:1px solid #cacaca; height:136px; width:227px;}
.cart .price_cart .price {overflow:hidden; margin:0 auto; padding-top:13px; width:170px;}
.cart .price_cart .price dl {display:block; overflow:hidden; border-bottom:1px solid #cacaca; margin-bottom:15px; padding-bottom:15px;}
.cart .price_cart .price dl dt,
.cart .price_cart .price dl dd {display:block; text-align:center;}
.cart .price_cart .price dl dt {margin-bottom:10px;}
.cart .price_cart .price dl dd {color:#e42a1e;}
.cart .price_cart .price dl dd strong {font-size:18px; line-height:1em;}

/* latest */
.latest {background-color:#fff; display:none; overflow:hidden; margin:0 auto; height:176px; width:1000px; /*z-index:100;*/}
.latest .title {overflow:hidden; width:1000px;}
.latest .title a {display:block; float:left; border-bottom:1px solid #1e1e1e; border-left:1px solid #1e1e1e; text-align:center; line-height:38px; height:38px; width:500px;}
.latest .title a:first-child {border-left:none; width:499px;}
.latest .title a.on {border-bottom:none;}

.latest .list_conts {display:block; overflow:hidden; height:136px;}
.latest .list_conts .prd_roll {display:block; overflow:hidden; position:relative; margin:0 auto; width:958px;}
.latest .list_conts .prd_roll .go_prev {display:block; position:absolute; left:0; top:63px; height:11px; width:11px;}
.latest .list_conts .prd_roll .go_next {display:block; position:absolute; right:0; top:63px; height:11px; width:11px;}
.latest .list_conts .prd_roll .roll_area {overflow:hidden; margin:0 auto; width:882px;}
.latest .list_conts .prd_roll .roll_area ul {overflow:hidden; height:136px; width:500%;}
.latest .list_conts .prd_roll .roll_area ul li {float:left; height:136px; width:126px;}
.latest .list_conts .prd_roll .roll_area ul li .prd_info {overflow:hidden; position:relative; height:136px; width:126px;}
.latest .list_conts .prd_roll .roll_area .prd_info a {display:block; overflow:hidden; height:136px; width:126px;}
.latest .list_conts .prd_roll .roll_area .prd_info a .thumnail {display:block; overflow:hidden; margin:0 auto; padding-top:18px; height:100px; width:100px;}
.latest .list_conts .prd_roll .roll_area .prd_info a .thumnail img {height:100px; width:100px;}
.latest .list_conts .prd_roll .roll_area .prd_info .box {display:none;}
.latest .list_conts .prd_roll .roll_area .prd_info a:hover .box,
.latest .list_conts .prd_roll .roll_area .prd_info a:focus .box {background:url('/images/layout/header_bg_over.png') repeat 0 0; display:block; overflow:hidden; cursor:pointer; position:absolute; left:0; top:0; height:136px; width:126px;}
.latest .list_conts .prd_roll .roll_area .prd_info .box span,
.latest .list_conts .prd_roll .roll_area .prd_info .box del,
.latest .list_conts .prd_roll .roll_area .prd_info .box strong {display:block; color:#fff; font-size:12px; text-align:center;}
.latest .list_conts .prd_roll .roll_area .prd_info .box span {margin-bottom:3px; padding-top:30px;}

.latest .not {display:none; overflow:hidden; padding-top:35px;}
.latest .not .lead_login {background:url('/images/layout/notice_mark.png') no-repeat center 0; padding-top:50px;}
.latest .not .lead_login p {color:#777; font-size:12px; text-align:center; margin-bottom:10px;}

/* container */
#container {width:100%;}

/* location */
.wrap_location {border-bottom:1px solid #dcdcdc; margin-bottom:50px; height:39px; width:100%;}
.wrap_location .location {border-right:1px solid #dcdcdc; margin:0 auto; height:39px; width:1000px;}
.wrap_location .location ul {display:block; height:39px;}
.wrap_location .location .home {float:left; border-right:1px solid #dcdcdc; border-left:1px solid #dcdcdc; height:39px; width:48px !important;}
.wrap_location .location .last_li {border-right:1px solid #dcdcdc;}
.wrap_location .location .none_bullet > a {background-image:none !important;}

.wrap_location .location .depth01 {float:left; position:relative; height:39px;}
.wrap_location .location .depth01 > a {background:url('/images/bullet/arrow_gray_off.gif') no-repeat 95% 18px; display:block; overflow:hidden; font-weight:bold; line-height:39px; padding-left:50px; height:39px;}
.wrap_location .location .depth01 .depth01_menu {display:none; position:absolute; left:0; top:39px; margin-left:-1px; padding-top:1px;}
.wrap_location .location .depth01 .depth01_menu li {display:block; overflow:hidden; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; border-left:1px solid #dcdcdc;}
.wrap_location .location .depth01 .depth01_menu li a {display:block; overflow:hidden; font-weight:bold; line-height:39px; padding-left:50px; height:39px;}

.wrap_location .location .depth02 {display:block; float:left; border-left:1px solid #dcdcdc; position:relative; height:39px;}
.wrap_location .location .depth02 > a {background:url('/images/bullet/arrow_gray_off.gif') no-repeat 95% 18px; display:block; overflow:hidden; font-weight:bold; line-height:39px; padding-left:50px; height:39px;}
.wrap_location .location .depth02 .depth02_menu {display:none; margin-left:-1px; position:absolute; left:0; top:39px; padding-top:1px;}
.wrap_location .location .depth02 .depth02_menu li {display:block; overflow:hidden; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; border-left:1px solid #dcdcdc;}
.wrap_location .location .depth02 .depth02_menu li a {display:block; overflow:hidden; font-weight:bold; line-height:39px; padding-left:50px; height:39px;}

.wrap_location .location .depth03 {display:block; float:left; border-left:1px solid #dcdcdc; position:relative; height:39px;}
.wrap_location .location .depth03 > a {background:url('/images/bullet/arrow_gray_off.gif') no-repeat 95% 18px; display:block; overflow:hidden; font-weight:bold; line-height:39px; padding-left:50px; height:39px;}
.wrap_location .location .depth03 .depth03_menu {display:none; position:absolute; left:0; top:39px; margin-left:-1px; padding-top:1px;}
.wrap_location .location .depth03 .depth03_menu li {display:block; overflow:hidden; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; border-left:1px solid #dcdcdc;}
.wrap_location .location .depth03 .depth03_menu li a {display:block; overflow:hidden; font-weight:bold; line-height:39px; padding-left:50px; height:39px;}

.wrap_location .location .depth04 {display:block; float:left; border-left:1px solid #dcdcdc; position:relative; height:39px;}
.wrap_location .location .depth04 > a {background:url('/images/bullet/arrow_gray_off.gif') no-repeat 95% 18px; display:block; overflow:hidden; font-weight:bold; line-height:39px; padding-left:50px; height:39px;}
.wrap_location .location .depth04 .depth04_menu {display:none; position:absolute; left:0; top:39px; margin-left:-1px; padding-top:1px;}
.wrap_location .location .depth04 .depth04_menu li {display:block; overflow:hidden; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; border-left:1px solid #dcdcdc;}
.wrap_location .location .depth04 .depth04_menu li a {display:block; overflow:hidden; font-weight:bold; line-height:39px; padding-left:50px; height:39px;}

.wrap_location .location .tab_1ea ul > li {width:474px;}
.wrap_location .location .tab_1ea ul > li a {background-color:#fff;}
.wrap_location .location .tab_1ea .depth01 {border-right:1px solid #dcdcdc;}
.wrap_location .location .tab_1ea .depth02 {display:none;}
.wrap_location .location .tab_1ea .depth03 {display:none;}
.wrap_location .location .tab_1ea .depth04 {display:none;}

.wrap_location .location .tab_2ea ul > li {width:474px;}
.wrap_location .location .tab_2ea ul > li a {background-color:#fff;}
.wrap_location .location .tab_2ea .depth03 {display:none;}
.wrap_location .location .tab_2ea .depth04 {display:none;}

.wrap_location .location .tab_3ea ul > li {width:315px;}
.wrap_location .location .tab_3ea ul > li a {background-color:#fff;}
.wrap_location .location .tab_3ea .home {width:50px !important;}
.wrap_location .location .tab_3ea .depth04 {display:none;}

.wrap_location .location .tab_4ea ul > li {width:236px;}
.wrap_location .location .tab_4ea ul > li a {background-color:#fff;}
.wrap_location .location .tab_4ea .home {width:50px !important;}

/* contents */
#contents {overflow:hidden; margin:0 auto; margin-bottom:100px; width:1000px;}
.title_h3 {overflow:hidden; margin-bottom:50px;}
.title_h3 h3 {font-size:26px; line-height:1em; text-align:center;}

/* footer */
#footer {background-color:#2c2c2c; padding-bottom:20px; width:100%;}
#footer .top {background:url('/images/btn/top.png') no-repeat 0 0; position:fixed; right:70px; top:500px;}
#footer .top.index {top:700px;}
#footer .top a {display:block; height:39px; width:39px;}
.wrap_footer {overflow:hidden; margin:0 auto; width:1000px;}
.wrap_footer .social {overflow:hidden; border-bottom:1px solid #515151; text-align:right; margin-bottom:30px; padding-top:10px; padding-bottom:10px;}
.wrap_footer .social ul {display:inline; overflow:hidden;}
.wrap_footer .social ul li {display:inline; padding-left:3px;}
.wrap_footer .social ul li:first-child {padding-left:10px;}

.info_menu {overflow:hidden; border-bottom:1px solid #515151; margin-bottom:20px; padding-bottom:30px; height:145px;}
.info_menu .sitemap {float:left;  width:367px;}
.info_menu .sitemap ul {overflow:hidden;}
.info_menu .sitemap ul li {float:left; margin-left:35px;}
.info_menu .sitemap ul li:first-child {margin-left:0;}
.info_menu .sitemap ul li strong {display:block; margin-bottom:15px;}
.info_menu .sitemap ul li strong a {color:#d7d7d7; font-size:13px; padding-top:0;}
.info_menu .sitemap ul li a {display:block; overflow:hidden; color:#acacac; font-size:12px; padding-top:3px;}

.info_menu .store {float:left; border-left:1px solid #505050; margin-left:40px; padding-left:40px; height:145px; width:245px;}
.info_menu .store strong {display:block; color:#d7d7d7; margin-bottom:15px;}
.info_menu .store strong a {color:#d7d7d7;}
.info_menu .store p {color:#acacac; font-size:12px; margin-bottom:15px;}
.info_menu .store .search_store {background:url('/images/layout/footer_store.png') no-repeat 0 0; overflow:hidden; position:relative; padding-left:65px; height:58px;}
.info_menu .store .search_store label {color:#8c8c8c; font-size:12px; position:absolute; left:75px; top:6px;}
.info_menu .store .search_store .input_txt {display:block; border:1px solid #757575; padding:5px 9px 0 9px; height:25px; width:160px;}
.info_menu .store .search_store .input_txt input[type=text] {background-color:#2c2c2c; border:none; color:#8c8c8c; padding:0; height:18px; width:140px;}
.info_menu .store .search_store .input_txt input[type=text]:focus {border:none;}
.info_menu .store .search_store .btn_search {background:url('/images/btn/footer_search.png') no-repeat 0 0; display:block; border:none; text-indent:-9999px; position:absolute; right:1px; top:2px; height:28px; width:28px;}

.info_menu .customer {float:left; border-left:1px solid #505050; margin-left:35px; padding-left:30px; height:145px; width:240px;}
.info_menu .customer strong {display:block; color:#d7d7d7; margin-bottom:15px;}
.info_menu .customer .inquire {overflow:hidden; margin-bottom:20px;}
.info_menu .customer .inquire dl {display:block; overflow:hidden;}
.info_menu .customer .inquire dl dt,
.info_menu .customer .inquire dl dd {display:inline-block; float:left; color:#e0e0e0;}
.info_menu .customer .inquire dl dt {width:80px;}
.info_menu .customer .inquire dl dd {font-family:verdana; font-size:15px; margin-left:20px;}
.info_menu .customer .inquire dl dd span {font-size:11px;}
.info_menu .customer p {color:#bcbcbc; font-size:11px;}

.company {position: relative; overflow:hidden;}
.company ul {overflow:hidden; margin-bottom:5px;}
.company ul li {background:url('/images/bullet/footer.png') no-repeat 0 4px; display:inline-block; float:left; margin-left:7px; padding-left:7px;}
.company ul li:first-child {background:none; margin-left:0; padding-left:0;}
.company ul li a,
.company ul li span {display:block; color:#e0e0e0; font-size:12px; letter-spacing:-1px;}
.company .shop_info {overflow:hidden;}
.company .shop_info dl {float:left; margin-left:10px;}
.company .shop_info dl:first-child {margin-left:0;}
.company .shop_info dl dt,
.company .shop_info dl dd,
.company .shop_info dl dd address {display:inline; color:#e0e0e0; font-size:12px; letter-spacing:-1px;}
.company .shop_info dl.clear {clear: both; margin-left: 0;}
.company .add {overflow:hidden;}
.company .add dt,
.company .add dd,
.company .add dd address {display:inline; color:#e0e0e0; font-size:12px; letter-spacing:-1px;}
.company p {color:#e0e0e0; font-size:12px;}
.company .icon_footer {overflow:hidden; position: absolute; right: 0; top: 0;}
.company .icon_footer span {display:block; float:left; margin-left:20px;}
.company .icon_footer span:first-child {margin-left:0;}

/* tab_style01 */
.tab_style01 {overflow:hidden; margin-bottom:30px;}
.tab_style01 ul {overflow:hidden;}
.tab_style01 ul li {display:block; float:left;border-top:1px solid #cacaca; border-right:1px solid #cacaca; border-bottom:1px solid #1e1e1e; height:40px;}
.tab_style01 ul li:first-child {border-right:none; border-left:1px solid #cacaca;}
.tab_style01 ul li a {display:block; overflow:hidden; font-weight:bold; line-height:40px; text-align:center; height:40px; width:100%;}
.tab_style01 ul li.on {border-top:2px solid #1e1e1e; border-bottom:none; border-right:1px solid #1e1e1e; border-left:1px solid #1e1e1e;}

.tab_style01.tab_2ea ul li {width:498px;}
.tab_style01.tab_3ea ul li {width:332px;}

/* tab_style02 */
.tab_style02 {overflow:hidden;}
.tab_style02 ul {overflow:hidden; border-bottom:1px solid #1e1e1e;}
.tab_style02 ul li {display:block; float:left; border-top:1px solid #cacaca; border-right:1px solid #cacaca; height:40px; width:178px;}
.tab_style02 ul li:first-child {border-right:none; border-left:1px solid #cacaca;}
.tab_style02 ul li:first-child.on {border-left:1px solid #1e1e1e;}
.tab_style02 ul li.on {background-color:#1e1e1e; border-top:none; height:41px;}
.tab_style02 ul li a {display:block; color:#777; font-weight:bold; line-height:40px; text-align:center; width:100%;}
.tab_style02 ul li.on a {color:#fff; line-height:41px;}

/* tab_style03 */
.tab_style03 {overflow:hidden;}
.tab_style03 ul {overflow:hidden;}
.tab_style03 ul li {background:url('/images/bullet/tab_section.gif') no-repeat 0 50%; display:block; float:left; margin-left:10px; padding-left:10px;}
.tab_style03 ul li:first-child {background:none; margin-left:0; padding-left:0;}
.tab_style03 ul li.on a {background-color:#e42a1e; color:#fff;}
.tab_style03 ul li a {display:block; overflow:hidden; font-weight:bold; line-height:22px; text-decoration:none; padding-right:5px; padding-left:5px; height:22px;}
.tab_style03 ul li a:hover {background-color:#e42a1e; color:#fff;}

/* title_style */
.bullet_h4 {background:url('/images/bullet/title.png') no-repeat 0 50%; overflow:hidden; font-size:16px; line-height:1.5em; margin-bottom:10px; padding-left:20px;}
.bullet_h5 {background:url('/images/bullet/title.png') no-repeat 0 50%; overflow:hidden; font-size:16px; line-height:1.5em; margin-bottom:10px; padding-left:20px;}
h5 {overflow:hidden; font-size:13px;}

/* diagonal_style */
.diagonal_style {background:url('/images/layout/bg_diagonal.gif') repeat 0 0; overflow:hidden; padding:10px; width:980px;}
.diagonal_style .w_box {background-color:#fff; overflow:hidden; padding-top:30px; padding-bottom:30px;}

/* table_style04 */
.table_style04 {overflow:hidden;}
.table_style04 table {table-layout:fixed; width:100%;}
.table_style04 table tbody tr th,
.table_style04 table tbody tr td {border-bottom:1px solid #dcdcdc; border-right:1px solid #dcdcdc; font-size:12px; padding-top:15px; padding-bottom:15px; padding-left:20px;}
.table_style04 table tbody tr:first-child th,
.table_style04 table tbody tr:first-child td {border-top:1px solid #dcdcdc;}
.table_style04 table tbody tr th:first-child,
.table_style04 table tbody tr td:first-child {border-left:1px solid #dcdcdc;}
.table_style04 table tbody tr th {background-color:#f7f7f7; font-weight:normal; text-align:left;}

/* table_style05 */
.table_style05 {overflow:hidden;}
.table_style05 table {border-bottom:1px solid #1e1e1e; table-layout:fixed; width:100%;}
.table_style05 table tbody tr th {border-top:1px solid #dcdcdc; border-left:1px solid #dcdcdc; font-weight:bold; text-align:left; padding-top:18px; padding-bottom:18px; padding-left:30px;}
.table_style05 table tbody tr:first-child th,
.table_style05 table tbody tr:first-child td {border-top:1px solid #1e1e1e;}
.table_style05 table tbody tr td {border-top:1px solid #dcdcdc; border-left:1px solid #dcdcdc; padding-top:18px; padding-bottom:18px; padding-left:30px;}
.table_style05 table tbody tr th:first-child,
.table_style05 table tbody tr td:first-child {border-left:none;}
.table_style05 table tbody tr td p {padding-top:15px;}
.table_style05 table tbody tr td p:first-child {padding-top:0;}

/* bullet_list */
.bullet_list {overflow:hidden;}
.bullet_list li {background:url('/images/bullet/dot_2x2.png') no-repeat 0 32px; padding-top:25px; padding-left:8px;}
.bullet_list li:first-child {background-position:0 7px; padding-top:0;}

/* script_emj */
.wishlist .list_conts .prd_roll .roll_area {position:relative; height:136px;}
.wishlist .list_conts .prd_roll .roll_area ul {position:absolute; top:0; left:0;}
.cart .prd_roll .cart_box .roll_area {position:relative; height:136px;}
.cart .prd_roll .cart_box .roll_area ul {position:absolute; top:0; left:0;}
.latest .list_conts .prd_roll .roll_area {position:relative; height:136px;}
.latest .list_conts .prd_roll .roll_area ul {position:absolute; top:0; left:0;}
.utill_menu .short_link > ul {float:left}
.wrap_location .location div ul > li.on > div {display:block !important;}
.wrap_location .location ul {position:relative;z-index:6;}

/* 피부고민별 */
.skin_area {display:none;position:absolute; top:40px; width:100%; height:445px; }
.fixed .skin_area {top:50px;}
.skin_area .inner {width:1000px; margin:auto; position:relative; height:445px;}
.skin_area .inner .now {display:block; position:absolute; top:-7px; left:530px;}
.skin_area .inner .step_wrap {background-color:#fff; overflow:hidden; width:1000px; border-right:1px solid #1e1e1e; border-bottom:1px solid #1e1e1e; border-left:1px solid #1e1e1e; position:relative; height:445px;}
.skin_area .inner .step_wrap .step_paging {position:relative; height:23px; margin-top:30px; background:url('/images/layout/bg_step_line.gif') repeat-x 67px 50%}
.skin_area .inner .step_wrap .step_paging > li {position:absolute; top:0; left:0; text-align:center;}
.skin_area .inner .step_wrap .step_paging > li.step_02 {left:433px;}
.skin_area .inner .step_wrap .step_paging > li.step_03 {left:auto; right:0;}
.skin_area .inner .step_wrap .step_paging > li a {padding:0 10px; line-height:23px; font-weight:bold; font-size:20px; color:#777; background-color:#FFF; text-transform:uppercase; cursor:default;}
.skin_area .inner .step_wrap .step_paging > li a:hover {text-decoration:none;}
.skin_area .inner .step_wrap .step_paging > li.on a {color:#1e1e1e; text-decoration:underline;}
.skin_area .inner .step_wrap .skin_close {display:block; position:absolute; right:0; top:0;}
.skin_area .my_step {overflow:hidden; position:absolute; top:81px; left:0; width:2925px; height:350px;}
.skin_area .my_step > li {float:left; width:975px; }
.skin_area .my_step dl.step_area > dt {visibility:hidden; position:absolute; left:-9999em; width:1px; height:1px; margin:0; padding:0; background:none; font-size:0; line-height:0; text-indent:-9999em}
.skin_area .my_step dl.step_area .top_area {text-align:center;}
.skin_area .my_step dl.step_area .step_tit {font-weight:bold; font-size:22px; line-height:26px;}
.skin_area .my_step dl.step_area .step_tit strong {color:#e42a1e;}
.skin_area .my_step dl.step_area .under_tit {margin-top:10px; font-size:15px; line-height:17px; color:#777;}
.skin_area .my_step .list_step_02 {overflow:hidden; margin:49px auto 0; width:960px;}
.skin_area .my_step .list_step_02 > li {float:left; text-align:center; margin-left:10px; width:87px;}
.skin_area .my_step .list_step_02 > li:first-child {margin-left:0;}
.skin_area .my_step .list_step_02 > li label {display:block; cursor:pointer; }
.skin_area .my_step .list_step_02 > li label img + img {display:none;}
.skin_area .my_step .list_step_02 > li.on label img {display:none;}
.skin_area .my_step .list_step_02 > li.on label img + img {display:block;}
.skin_area .my_step .list_step_02 > li input[type=checkbox] {margin-top:10px; width:15px; height:15px;}
.skin_area .my_step .btn_area {overflow:hidden; margin-top:30px; text-align:center;}
.skin_area .my_step .btn_area a.btn_prev {display:inline-block; border:1px solid #1e1e1e; height:28px; line-height:28px; padding:0 19px; color:#fff; background-color:#fff; font-weight:bold; font-size:12px;}
.skin_area .my_step .btn_area a.btn_prev span {padding-left:29px; background:#fff url('/images/layout/bg_arrow_prev.png') no-repeat 0 50%; color:#1e1e1e;}
.skin_area .my_step .btn_area a.btn_next {display:inline-block; border:1px solid #1e1e1e; height:28px; line-height:28px; padding:0 19px; color:#fff; background-color:#1e1e1e; font-weight:bold; font-size:12px;}
.skin_area .my_step .btn_area a.btn_next span {padding-right:24px; background:#1e1e1e url('/images/layout/bg_arrow_next.png') no-repeat 100% 50%; }
.skin_area .my_step .btn_area a.btn_more {display:inline-block; border:1px solid #1e1e1e; height:28px; line-height:28px; padding:0 19px; color:#fff; background-color:#1e1e1e; font-weight:bold; font-size:12px;}
.skin_area .my_step .btn_area a.btn_more span {padding-right:24px; background:#1e1e1e url('/images/layout/bg_arrow_next.png') no-repeat 100% 50%; }
.skin_area .my_step a.btn_first {display:inline-block; height:16px; border-bottom:1px solid #cacaca; line-height:16px; font-size:12px; }
.skin_area .my_step a.btn_first:hover {text-decoration:none;}
.skin_area .my_step a.btn_first span {padding-left:18px; background:#fff url('/images/layout/icon_refresh.png') no-repeat 0 50%; }

/*step02*/
.skin_area .my_step .list_step_01 {overflow:hidden; margin:33px auto 0; width:607px;}
.skin_area .my_step .list_step_01 > li {float:left; text-align:center; margin-left:60px; width:162px;}
.skin_area .my_step .list_step_01 > li:first-child {margin-left:0;}
.skin_area .my_step .list_step_01 > li label {display:block; cursor:pointer; }
.skin_area .my_step .list_step_01 > li label img + img {display:none;}
.skin_area .my_step .list_step_01 > li.on label img {display:none;}
.skin_area .my_step .list_step_01 > li.on label img + img {display:block;}
.skin_area .my_step .list_step_01 > li input[type=radio] {margin-top:9px; width:17px; height:17px;}
.skin_area .my_step li.step_02 .btn_area {margin-top:50px;}
/*step03*/
.skin_area .my_step .list_step_03 {overflow:hidden; margin:40px auto 0; text-align:center;}
.skin_area .my_step .list_step_03 > li {padding-top:10px; display:inline-block; *display:inline; zoom:1; width:170px; height:170px; text-align:center; vertical-align:top;}
.skin_area .my_step .list_step_03 > li a {display:inline-block; *display:inline; zoom:1; vertical-align:top;}
.skin_area .my_step .list_step_03 > li img {max-width:100px; max-height:100px; vertical-align:middle;}
.skin_area .my_step .list_step_03 > li span {margin-top:13px; padding:0 15px; display:block; text-align:center; font-size:12px; line-height:16px; letter-spacing:-0.05em;}
.skin_area .my_step .step_03 .step_area > dd {position:relative;}
.skin_area .my_step .step_03 .step_area > dd .btn_first {position:absolute; left:14px; bottom:0;}
.skin_area .my_step li.step_03 .btn_area {margin-top:28px;}
.hide{display: none;}