<div class="inner">
        <!-- upsideeee -->
        <div class="upside">
          <!-- about -->
          <div class="the-beautychu widget">
            <div class="inner">
              <h2>ABOUT</h2>
              <ul>
                <li class="m1"><a href="../jy_qna.html">Q &amp; A</a></li>
                <li class="m2"><a href="http://192.168.0.13:8080/beautyChuSpring_K/view/admin/coupon.html">Admin</a></li>
                <li class="m3"><a href="#">Mobile version</a></li>
              </ul>
            </div>
          </div><!-- //about -->
          <!-- etc -->
          <div class="etc widget">
            <ul class="etc-menu">
              <li class="m1"><a href="#">HTML5</a></li>
              <li class="m2"><a href="#" target="_blank" title="새창열림">CSS3</a></li>
              <li class="m3"><a href="#" target="_blank" title="새창열림">Javascript</a></li>
              <li class="m4"><a href="#" target="_blank" title="새창열림">jQuery</a></li>
              <li class="m5"><a href="#" target="_blank" title="새창열림">AJAX</a></li>
              <li class="m6"><a href="#" target="_blank" title="새창열림">node.js</a></li>
              <li class="m7"><a href="#" target="_blank" title="새창열림">spring</a></li>
              <li class="m8"><a href="#" target="_blank" title="새창열림">MariaDB</a></li>
              <li class="m9"><a href="#" target="_blank" title="새창열림">MyBatis</a></li>
            </ul>
          </div><!-- //etc -->
          <div class="clear"></div>
        </div><!-- upside -->
        <!-- downside -->
        <div class="downside">
          <!-- site-infos -->
          <div class="site-infos">
            <div class="clear"></div>
            <!-- company-info -->
            <div class="company-info">
              <p class="info">
                <span class="address">서울시 서초구 서초동 비트 ㅋㅋ</span>
                <span class="registcode">사업자등록번호 : 123123123123</span>
                <span class="tel">전화 : 02-410-7114</span>
              </p>
              <a href="mailto:tiggerhyun@gmail.com" class="email">beautychu@gmail.com</a>
            </div><!-- company-info -->
            <div class="copy">
              Copyright© 2015 <strong>by AppChu</strong>. CO. LTD, ALL RIGHTS RESERVED.
            </div>
          </div><!-- site-infos -->

          <div class="family-sites toggle-menu js-control">
            <a href="#familysites" class="btn-fs">By. AppChu</a>
          </div>
          <div class="clear"></div>
        </div><!-- downside -->
      </div>
