.dialog,
.dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	pointer-events: none;
}

.dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}


.dialog__content {
	width: 550px;
	/* max-width: 560px; */
	min-width: 290px;
	background: #fff;
	padding: 4em;
	padding-top:0;
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
}

.dialog--open .dialog__content {
	pointer-events: auto;
}

/* Content */
.dialog h2 {
	margin: 0;
	font-weight: 400;
	font-size: 2em;
	padding: 0 0 2em;
	margin: 0;
}


/* login form css */
.form-signin-heading { padding-bottom: 30px;}
.sr-only { float: left;}
.form-control-login { width: 250px; height: 25px; font-size: 11px;}
.login-line { margin: 5px 0px;}
.checkbox { margin-top: 20px;}
.checkbox-line { margin-left: -10px;}
.btn-login { margin-top: 50px; width: 410px; float: left;}
.btn-login-close { margin: 0; float: right; padding: 0; margin-right: -65px;}
.login-header-area { margin-bottom: 30px;}

#inputEmail { margin-left: 40px;}
#inputPassword { margin-left: 70px;}


/* join form css */
/* .dialog__content {width: 800px;} */
/* .form-signup-heading { padding-bottom: 30px;}  */
.btn-join-close { margin: 0; float: right; padding: 0; margin-right: -65px; margin-top: -130px;}
.join-header-area { margin-bottom: 30px; margin-top: 30px;}
.control-label {float: left;}
.form-group {margin-bottom: 20px;}
.form-control-join { width: 250px; margin-left: 20px; height: 25px; font-size: 11px;}
.btn-join-fin {width: 354px; float: left;}
.register-alert {float: left;}
.join {margin-left: 30px; margin-top: -30px;}
.alert-message {font-size: 13px; width: 354px;}

#user_pw { margin-left: 6px;}
#confirm_pw { margin-left: -29px;}




