<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Beauty_Chu Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/to-do.css">

  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="coupon.html#" class="logo"><b>Beauty_Chu Admin</b></a>
            <!--logo end-->
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="shop_info.html#"><img src="assets/img/ui-zac.jpg" class="img-circle" width="60"></a></p>
              	  <h5 id="sidebar-shopName" class="centered"></h5>
              	  <h6 id="sidebar-shopAddr" class="centered"></h6>
              	  <h6 id="sidebar-shopTel" class="centered"></h6>
              	  	
              	  	
                  <li class="mt sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-credit-card"></i>
                          <span>Coupon</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="coupon.html">Coupon Management</a></li>
                      </ul>
                  </li>
                  
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-edit"></i>
                          <span>Woman Style</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="style_addStyle.html">Add Woman Style</a></li>
                          <li><a  href="style_cut.html">Woman Cut</a></li>
                          <li><a  href="style_perm.html#">Woman Perm</a></li>
                          <li><a  href="style_color.html#">Woman Color</a></li>
                          <li><a  href="style_care.html#">Woman Care</a></li>
                          <li><a  href="style_etc.html#">Woman ETC</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a class="active" href="javascript:;" >
                          <i class="fa fa-key"></i>
                          <span>Shop</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="shop_info.html">Shop Info</a></li>
                          <li class="active"><a  href="shop_priceList.html">Price List</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-star-o"></i>
                          <span>Celebrity</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="celeb_man.html#">Celebrity Man</a></li>
                          <li><a  href="celeb_woman.html#">Celebrity Woman</a></li>
                      </ul>
                  </li>


              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Price List</h3>
          	<form class="form-horizontal style-form" method="post" enctype="multipart/form-data">
			  <!-- man price list -->
              <div class="row mt mb">
                  <div class="col-md-12">
                      <section class="task-panel tasks-widget">
	                	<div class="panel-heading">
	                        <div class="pull-left"><h4><i class="fa fa-angle-right"></i> Man</h4></div>
	                        <br>
	                 	</div>
                          <div class="panel-body">
                              <div class="task-content">
                              <table class="table table-bordered table-striped table-condensed" style="margin-bottom: 0">
	                        	<thead>
		                        	<tr>
			                        	<th class="text-center" style="width: 30%">분류</th>
			                        	<th class="text-center" style="width: 40%">기본가격</th>
		                        	</tr>
	                        	</thead>
	                        	<tbody>
	                        	
	                        		<tr>
	                        			<td class="text-center"><h5>Cut</h5></td>
	                        			<td class="text-center">
	                        				<input id="man1" type="text" class="input-read form-control round-form text-center">
                        				</td>
	                        		</tr>
	                        		
	                        		<tr>
	                        			<td class="text-center"><h5>Perm</h5></td>
	                        			<td class="text-center">
	                        				<input id="man2" type="text" class="input-read form-control round-form text-center">
                        				</td>
	                        		</tr>
	                        		
	                        		<tr>
	                        			<td class="text-center"><h5>Color</h5></td>
	                        			<td class="text-center">
	                        				<input id="man3" type="text" class="input-read form-control round-form text-center">
                        				</td>
	                        		</tr>
	                        		
	                        		<tr>
	                        			<td class="text-center"><h5>Care</h5></td>
	                        			<td class="text-center">
	                        				<input id="man4" type="text" class="input-read form-control round-form text-center">
                        				</td>
	                        		</tr>
	                        		
	                        	</tbody>
	                           </table>
                              </div>
                              <div class=" add-task-row">
                                  <button type="button" class="btn btn-default btn-sm pull-right" style="margin-left:5px;">Cancel</button>
                                  <button id="manBtn" type="button" class="btn btn-theme btn-sm pull-right">Save changes</button>
                              </div>
                          </div>
                      </section>
                  </div><!--/col-md-12 -->
              </div><!-- /row -->
              
              <!-- woman price list -->
              <div class="row mt mb">
                  <div class="col-md-12">
                      <section class="task-panel tasks-widget">
	                	<div class="panel-heading">
	                        <div class="pull-left"><h4><i class="fa fa-angle-right"></i> Woman</h4></div>
	                        <br>
	                 	</div>
                          <div class="panel-body">
                              <div class="task-content">
                              <table class="table table-bordered table-striped table-condensed" style="margin-bottom: 0">
	                        	<thead>
		                        	<tr>
			                        	<th class="text-center" style="width: 30%">분류</th>
			                        	<th class="text-center" style="width: 40%">기본가격</th>
		                        	</tr>
	                        	</thead>
	                        	<tbody>
	                        	
	                        		<tr>
	                        			<td class="text-center"><h5>Cut</h5></td>
	                        			<td class="text-center">
	                        				<input id="woman-cut" type="text" class="input-read form-control round-form text-center">
                        				</td>
	                        		</tr>
	                        		
	                        		<tr>
	                        			<td class="text-center"><h5>Perm</h5></td>
	                        			<td class="text-center">
	                        				<input id="woman-perm" type="text" class="input-read form-control round-form text-center">
                        				</td>
	                        		</tr>
	                        		
	                        		<tr>
	                        			<td class="text-center"><h5>Color</h5></td>
	                        			<td class="text-center">
	                        				<input id="woman-color" type="text" class="input-read form-control round-form text-center">
                        				</td>
	                        		</tr>
	                        		
	                        		<tr>
	                        			<td class="text-center"><h5>Care</h5></td>
	                        			<td class="text-center">
	                        				<input id="woman-care" type="text" class="input-read form-control round-form text-center">
                        				</td>
	                        		</tr>
	                        		
	                        	</tbody>
	                           </table>
                              </div>
                              <div class=" add-task-row">
                                  <button type="button" class="btn btn-default btn-sm pull-right" style="margin-left:5px;">Cancel</button>
                                  <button id="womanBtn" type="button" class="btn btn-theme btn-sm pull-right">Save changes</button>
                              </div>
                          </div>
                      </section>
                  </div><!--/col-md-12 -->
              </div><!-- /row -->
            </form>
			
		</section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2015 Beauty Chu~♥
              <a href="todo_list.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>


<script type="text/javascript">
var imsiEmail;
  $(function() {
	    /* AJAX로 email 로그인 정보 가져오기 */
	    $.ajax({
			type : 'get',
			dataType : "json",
			url : '../../json/auth/loginUser.do',
			success : function(data) {
				console.log(data.status);
				console.log(data.loginUser);
				$('#email').val(data.loginUser.email);
				alert(data.loginUser.email + "정보가져옴");
				imsiEmail = data.loginUser.email;
			},
			error : function() {
				console.log('ajax 실패');
			}
		}).done(function(){
		    /* AJAX로 email로 sidebar shop 정보 가져오기 */
		    $.ajax({
				type : 'get',
				dataType : "json",
				data : {
					email : imsiEmail
				},
				url : '../../json/shopInfo/list.do',
				success : function(data) {
					console.log(imsiEmail);
					console.log(data.listShopInfo[0].shopPhotoUrl);
					
					$('#sidebar-shopName').text(data.listShopInfo[0].shopName);
					$('#sidebar-shopAddr').text(data.listShopInfo[0].shopAddr);
					$('#sidebar-shopTel').text(data.listShopInfo[0].shopTel);
				},
				error : function() {
					console.log('ajax shop정보 실패');
				}
			});
		}).done(function(){
		    /* AJAX로 email로 price list 정보 가져오기 */
		    $.ajax({
				type : 'get',
				dataType : "json",
				data : {
					email : imsiEmail
				},
				url : '../../json/shopInfo/priceList.do',
				success : function(data) {
					console.log(imsiEmail);
					console.log(data);
					console.log(data.manPriceListShopInfo[0]);
					
					for (var i = 0; i < data.womanPriceListShopInfo.length; i++) {
						switch (data.womanPriceListShopInfo[i].type) {
							case "cut" : $('#woman-cut').val(data.womanPriceListShopInfo[i].price); break;
							case "perm" : $('#woman-perm').val(data.womanPriceListShopInfo[i].price); break;
							case "color" : $('#woman-color').val(data.womanPriceListShopInfo[i].price); break;
							case "care" : $('#woman-care').val(data.womanPriceListShopInfo[i].price); break;
							default : console.log('ㅎㅎ');
						}
					}
					
					for (var i = 0; i < data.manPriceListShopInfo.length; i++) {
						switch (data.manPriceListShopInfo[i].type) {
							case "cut" : $('#man1').val(data.manPriceListShopInfo[i].price); break;
							case "perm" : $('#man2').val(data.manPriceListShopInfo[i].price); break;
							case "color" : $('#man3').val(data.manPriceListShopInfo[i].price); break;
							case "care" : $('#man4').val(data.manPriceListShopInfo[i].price); break;
							default : console.log('ㅎㅎ');
						}
					}
				},
				error : function() {
					console.log('ajax shop정보 실패');
				}
			});
		});
		
	    /* AJAX 서버로 데이터 보내서 update */
		$('#manBtn').click(function() {
			for(var i = 1; i < 5; i++) {
				$.ajax({
					type : 'post',
					dataType : "json",
					url : '../../json/shopInfo/updatePrice.do',
					data : {
						price : $('#man' + i).val(),
						email : imsiEmail
					},
					success : function(data) {
						console.log(data.status);
						alert('등록완료');
					},
					error : function() {
						console.log('등록 실패');
					}

				});
			}

		});
	});
</script>
	    
	    
    
<!--     $('.input-read').prop('readonly', true);
    $('.select-read').attr('disabled', true); -->
    
    
<!-- add버튼 -->
<!-- <script>
$(function(){
	$('#addBtn').click(function(){
		var fields = $(':input').serializeArray();
		$.each( fields, function (i, field) {
			$('.input-read').append( fileld.value + " ");
		});
		console.log(fields);
		addRow();
	});
});
$(function(){
	$('.deleteBtn').click(function(){
		delRow();
	});
});
function addRow(){
	var html = "<li class='list-info'><div class='task-title'><div class='form-group'><div class='col-sm-3 text-center'><h4>Man</h4></div>"
					+ "<div class='col-sm-3 text-center'>"
					+ "<option>Color</option><option>Care</option><option>ETC</option></select></div>"
					+ "<div class='col-sm-3'><input type='text' class='input-read form-control round-form text-center'></div>"
					+ "<div class='col-sm-3'><input type='text' class='input-read form-control round-form text-center'></div>"
					+ "<div class='col-sm-1'><button class='btn btn-success fa fa-check' name='check_btn' onClick='javascript:check(this)'></button>"
            		+ "<button class='btn btn-primary fa fa-pencil' name='pencil_btn' onClick='javascript:pencil(this)'></button><button class='btn btn-danger fa fa-trash-o deleteBtn' name='del_btn' onClick='javascript:delRow(this)'></button>"
	                + "</div></div></div></li>";
	                
	                /*  */
	                
	$('.task-list').append(html);
}
function delRow(object){						
	var index = $(".list-info [name=del_btn]").index(object);			
	$(".list-info").eq(index).remove();			
}
function pencil(object){						
	var index = $("[name=pencil_btn]").index(object);			
	if ($(this).eq(index)) {
		$(this).attr('disabled',false);
		$('.input-read').prop('readonly',false);
	}
}
function check(object){
	var index = $(this).find("[name=check_btn]").index(object);			
	 var data = $(this).find('data-no');
	
	if ($(data).eq(index)) {
		$('.select-read').attr('disabled',true);
		$('.input-read').prop('readonly',true);
	}
}

</script> -->

</body>
</html>
