<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Beauty_Chu Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/to-do.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="coupon.html#" class="logo"><b>Beauty_Chu Admin</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Beauty_Chu Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-divya.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-danro.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-sherman.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="shop_info.html#"><img src="assets/img/ui-zac.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">박준 뷰티랩</h5>
              	  <h6 class="centered">서울시 강남구 삼성로 725</h6>
              	  <h6 class="centered">02-511-1414</h6>
              	  	
                  <li class="mt sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-credit-card"></i>
                          <span>Coupon</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="coupon.html">Coupon Management</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-edit"></i>
                          <span>Style</span>
                      </a>
                      <ul class="sub">
                          <li><a href="style_addStyle.html">Add Style</a></li>
                          <li><a  href="style_cut.html">Cut</a></li>
                          <li><a  href="style_perm.html#">Perm</a></li>
                          <li><a  href="style_color.html#">Color</a></li>
                          <li><a  href="style_care.html#">Care</a></li>
                          <li><a  href="style_etc.html#">ETC</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a class="active" href="javascript:;" >
                          <i class="fa fa-key"></i>
                          <span>Shop</span>
                      </a>
                      <ul class="sub">
                          <li class="active"><a  href="shop_info.html">Shop Info</a></li>
                          <li><a  href="shop_priceList.html">Price List</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-star-o"></i>
                          <span>Celebrity</span>
                      </a>
                      <ul class="sub">
                       		<li><a  href="celeb_man.html#">Celebrity Man</a></li>
                       		<li><a  href="celeb_woman.html#">Celebrity Woman</a></li>
                      </ul>
                  </li>
                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Shop</h3>
          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i> Shop Info</h4>
                  	  
                      <form class="form-horizontal style-form" method="post" enctype="multipart/form-data">
                      
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">샵프로필사진</label>
                              <div class="col-sm-10">
                              <!-- <img class="thumb" width="100" src="assets/img/ui-zac.jpg" alt="shop-profile-img"> -->
                              <img id="shopProfile" class="thumb" width="100" alt="shop-profile-img">
                              	<input type="file" id="profileInput" name="filesS[]" multiple />
								<output id="list-short"></output>	
                              </div>
                          </div>
                          
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">이메일</label>
                              <div class="col-sm-10">
                                  <input type="text" id='email' class="form-control round-form" value="" placeholder="User Email" readonly="readonly">
                              </div>
                          </div>
                          
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">사업자번호</label>
                              <div class="col-sm-10">
                                  <input type="text" id='licenseeNo' class="form-control round-form" placeholder="Licensee Number">
                              </div>
                          </div>
                          
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">샵이름</label>
                              <div class="col-sm-10">
                                  <input type="text" id='shopName' class="form-control round-form" placeholder="Shop Name">
                              </div>
                          </div>
                          
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">샵주소</label>
                              <div class="col-sm-10">
                                  <input type="text" id='shopAddr' class="form-control round-form" placeholder="Shop Address">
                              </div>
                          </div>
                          
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">샵전화번호</label>
                              <div class="col-sm-10">
                                  <input type="text" id='shopTel' class="form-control round-form" placeholder="Shop Tel">
                              </div>
                          </div>
                          
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">샵소개</label>
                              <div class="col-sm-10">
                              	<textarea id='shopIntro' name="shop-intro" rows="2" cols="80" class="form-control round-form"></textarea>
								<div class="remaining text-right">남은 글자수: <span class="info-count">100</span></div>
                              </div>
                          </div>
                          
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">사진</label>
                              <div class="col-md-8 col-sm-8">
                                  <input type="text" class="form-control round-form">
                              </div>
                              	<button type="submit" class="btn btn-theme">Upload</button>
                          </div>
                          
                          <!-- Update Shop Info Button -->
                          <div class="form-group">
                          	<div class="col-sm-12">
                          		<button type="button" id='shop-updateBtn' class="btn btn-theme btn-block btn-lg">Save & Update</button>
                          	</div>
                       	  </div>
                          	
                      </form>
                  </div>
                  
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->
			
		</section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2015 Beauty Chu~♥
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jquery.form.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>

	<!-- jQuery MultiFile Plugin import -->
	<script src="assets/js/jquery.MultiFile.js"></script>

    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>


<script type="text/javascript">
var imsiEmail;
  $(function() {
	    /* AJAX로 email 로그인 정보 가져오기 */
	    $.ajax({
			type : 'get',
			dataType : "json",
			url : '../../json/auth/loginUser.do',
			success : function(data) {
				console.log("login 정보" + data.status);
				console.log(data.loginUser);
				$('#email').val(data.loginUser.email);
				alert(data.loginUser.email + "정보가져옴");
				imsiEmail = data.loginUser.email;
			},
			error : function() {
				console.log('ajax 실패');
			}
		}).done(function(){
		    /* AJAX로 email로 shop 정보 가져오기 */
		    $.ajax({
				type : 'get',
				dataType : "json",
				data : {
					email : imsiEmail
				},
				url : '../../json/shop/list.do',
				success : function(data) {
					console.log(imsiEmail);
					console.log(data.listShopInfo);
					console.log(data.listShopInfo[0].shopPhotoUrl);
					
					$('#shopProfile').attr('src','/beautyChuSpring_K/fileupload' + data.listShopInfo[0].shopPhotoUrl);
					$('#licenseeNo').val(data.listShopInfo[0].licenseeNo);
					$('#shopName').val(data.listShopInfo[0].shopName);
					$('#shopAddr').val(data.listShopInfo[0].shopAddr);
					$('#shopTel').val(data.listShopInfo[0].shopTel);
					$('#shopIntro').val(data.listShopInfo[0].shopIntro);
				},
				error : function() {
					console.log('ajax shop정보 실패');
				}
			});
		});
	    
	    /* AJAX 서버로 데이터 보내서 update */
		$('#shop-updateBtn').click(function() {
			/* var profileInput = document.getElementById("profileInput").files[0].name;
			var photo1 = profileInput[0];
			var shopPhotoName = profileInput[0].name; */
			console.log(profileInput);

			$("form").ajaxSubmit({
				dataType : "json",
				url : '../../json/shop/fileUpload.do',
				data : {email : imsiEmail},
				success : function(data) {
					console.log(data);
					console.log(data.result);
				},
				error : function(error) {
					alert("요청 처리 중 오류가 발생하였습니다.");
				}
			});
			
			$.ajax({
				type : 'post',
				dataType : "json",
				url : '../../json/shop/update.do',
				data : {
					/* shopPhotoUrl : $ */ 
					email : $('#email').val(),
					licenseeNo : $('#licenseeNo').val(),
					shopName : $('#shopName').val(),
					shopAddr : $('#shopAddr').val(),
					shopTel : $('#shopTel').val(),
					shopIntro : $('#shopIntro').val(),
					
				},
				success : function(data) {
					console.log(data.status);
					alert('등록완료');
				},
				error : function() {
					console.log('등록 실패');
				}

			});

			

			
		});

	    
	    /* 샵정보 maxlength */  
		  $('.remaining').each(function() {
		        // count 정보 및 count 정보와 관련된 textarea/input 요소를 찾아내서 변수에 저장한다.
		        var $count = $('.info-count', this);
		        var $input = $(this).prev();
		        // .text()가 문자열을 반환하기에 이 문자를 숫자로 만들기 위해 1을 곱한다.
		        var maximumCount = $count.text() * 1;
		        // update 함수는 keyup, paste, input 이벤트에서 호출한다.
		        var update = function() {
		            var before = $count.text() * 1;
		            var now = maximumCount - $input.val().length;
		            // 사용자가 입력한 값이 제한 값을 초과하는지를 검사한다.
		            if (now < 0) {
		                var str = $input.val();
		                alert('글자 입력수가 초과하였습니다.');
		                $input.val(str.substr(0, maximumCount));
		                now = 0;
		            }
		            // 필요한 경우 DOM을 수정한다.
		            if (before != now) {
		                $count.text(now);
		            }
		        };
		        // input, keyup, paste 이벤트와 update 함수를 바인드한다
		        $input.bind('input keyup paste', function() {
		            setTimeout(update, 0)
		        });
		        update();
		    });
	    
	});
  
</script>




</body>
</html>
