html,body,ul,li{margin:0;padding:0; font-family:arial}
.demo-wrap ul {
width: 545px;  height: 273px; overflow: hidden;
}

.demo-wrap li {
list-style: none; margin: 0; height: 213px; 
}
.demo-wrap .left {
width: 60px; height:60px; float: left; 
}

.demo-wrap .right {
width: 450px; height:60px; float: left; margin-left: 10px;
}

.demo-wrap .right .album {
/* margin-top: 60px; */ font-size: 18px;
}

.demo-wrap .right .band {
font-size: 14px; color: #838383;
}

.demo-wrap .multiple li {
width: 190px;
}

.demo-wrap .DG-wrapper {
margin: 0 auto; border:5px solid #ddd; border-radius:10px; padding:5px;
}

.demo-wrap .DG-prev {
position: absolute; top: 45%; left: -40px; width: 31px; height: 31px; 
text-indent: -999999px; background: url(icon_arrow_left.png) no-repeat 0 -31px;
}

.demo-wrap .DG-next {
position: absolute; top: 45%; right: -40px; width: 31px; height: 31px; 
text-indent: -999999px; background: url(icon_arrow_right.png) no-repeat 0 -31px;
}

.demo-wrap .DG-next:hover,
.demo-wrap .DG-prev:hover {
background-position: 0 0;
}
/*start / stop*/
.DG-auto {
text-align: center;
}

.DG-start {
color: #f1eee7; font-size: 14px; background: #838383; padding: 4px 7px;	
border-radius: 3px; text-transform: capitalize;
}

.DG-start:hover {
background: #525044; text-decoration: none;
}

/*pager*/
.DG-pager {
text-align: center;
}

.DG-pager a {
font-size: 16px; background: #f5f5f5; padding: 4px 7px; border-radius: 3px; 
color: #838383; padding: 0 10px; margin:2px; text-decoration: none;
}

.DG-pager .pager-active,
.DG-pager a:hover {
color: #fff; background: #838383; padding: 4px 7px; border-radius: 3px; 
text-decoration: none; margin:2px;
}
.comment {
	margin-bottom: 10px;
}
