.dialog,
.dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	pointer-events: none;
}

.dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}


.dialog__content {
	margin-top:69px; /* 상단 메뉴바 바로 아래에서 나오도록 메뉴바 사이즈만큼 마진 주기  */
	/* width: 550px; */
	width:27%;
	/* max-width: 560px; */
	min-width: 290px;
	background: #fff;
	padding: 4em;
	padding-top:0;
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
}

.dialog--open .dialog__content {
	pointer-events: auto;
}

/* Content */
.dialog h2 {
	margin: 0;
	font-weight: 400;
	font-size: 2em;
	padding: 0 0 2em;
	margin: 0;
}

/* dialog page buttons */
.dialog button {
	outline: none;
	font-weight: 600;
	border: none;
	color: #fff;
	background : black;
}


/* login form css */
.jy-form-signin-heading { padding-bottom: 30px;}
.sr-only { float: left; font-size: 14px; margin-top: 8px;}
.jy-form-control-login { width: 190px; height: 25px; font-size: 11px;}
.jy-login-line { margin: 5px 0px; width: 320px;}
.jy-checkbox { margin-top: 10px;}
.jy-checkbox-line { margin-left: -75px; }
.jy-btn-login { width: 90px; float: right; height: 63px; margin-top: -68px; font-size: 20px;/* 사이즈 별로면 없애 */}
.jy-btn-gojoin { margin-top: 50px; width: 410px; float: left; padding: 1em 2em; font-size: 15px;}
.jy-btn-join {width: 288px; float: left; padding: 1em 2em; margin-left: -8px; font-size: 15px;}
.jy-btn-login-close { margin: 0; float: right; padding: 0; margin-right: -65px;}
.jy-login-header-area { margin-bottom: 30px;}

#jy-inputEmail { margin-left: 0px;}
#jy-inputPassword { margin-left: 30px;}


/* join form css */
/* .dialog__content {width: 800px;} */
/* .form-signup-heading { padding-bottom: 30px;}  */
.jy-btn-join-close { margin: 0; float: right; padding: 0; margin-right: -65px; margin-top: -130px;}
.jy-join-header-area { margin-bottom: 30px; margin-top: 30px;}
.jy-control-label {float: left; font-size:14px; margin-top: 8px;}
.jy-form-group {margin-bottom: 20px;}
.jy-form-control-join { /* width: 250px; */ width:65%; margin-left: 30px; height: 25px; font-size: 11px;}
.jy-form-control-label { /* width: 250px;  */ width:65%; margin-left: 30px; height: 25px; font-size: 11px;}
.jy-btn-join-fin {/* width: 347px; */ width:92%; float: left; margin-top: 20px;}
.jy-register-alert {float: left;}
.jy-join {margin-left: 30px; margin-top: -30px;}
.jy-alert-message {font-size: 13px; /* width: 347px; */ width:133%; margin-top: 10px;}
.jy-btn-public-join { padding: 80px 40px; padding: 1em 2em;}
.jy-btn-licensee-join { padding: 80px 35px; padding: 1em 2em;}
/* .jy-email { font-size: 15px;}
.jy-nick { font-size: 15px;}
.jy-pw { font-size: 15px;}
.jy-pwr { font-size: 15px;}  */
.jy-radio-user { font-size: 14px; padding-top: 7px;}
.jy-chk-user { margin: 0px 7px;}

#jy-user_pw { margin-left: 15px;}
#jy-confirm_pw { margin-left:-20px;} 
#jy-email-check { 
	font-size:12px; text-align: left;
	margin-top: -10px; margin-bottom: 10px; 
	/* width: 265px; */ width:66%; padding-left: 100px; 
	/* margin-left:141px; */
	}
#jy-pw-check { 
	font-size:12px; text-align: left;
	margin-top: -10px; margin-bottom: 10px; 
	/* width: 265px; */ width:66%; padding-left: 100px; 
	/* margin-left:141px; */
}

#jy-mdf-pw-check { 
	font-size:12px; text-align: left;
	margin: 0 auto; 
	/* margin-top: -10px; margin-bottom: 10px;  */
	/* width: 265px; */ width:30%; padding-left: 90px; 
	/* margin-left:141px; */
}
