<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Beauty Chu~♥</title>

<link rel="shortcut icon" href="../images/favicon.ico"
	type="image/x-icon">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../css/common.css">

<!--  -->
<link rel="stylesheet" href="../css/resources/jy_DG_Slider.css"
	type="text/css" media="all" />


<style type="text/css">
/* 스타일 적용 공간! */

</style>
</head>
<body>

	<header>
		<!-- header 건들지 말긔! -->
	</header>

	<div id="wrap-chu" class="wrap-chu">
		<!-- 작업공간 - 이파일 고치지 말고 복사해서 쓰시오...!! -->
		<div class="demo-wrap">
			<ul id="slider1">

				<li>
					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>

					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>
					
					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>
					
					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>
				</li>


				<li>
					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>

					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>
					
					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>
					
					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>
				</li>
				
				
				<li>
					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>

					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>
					
					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>
					
					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>
				</li>
				
				
				<li>
					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>

					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>
					
					<div class="comment">
						<div class="left">
							<img src="http://placehold.it/80" width="60" height="60"
								class="img-circle img-responsive" alt="" />
						</div>
						<div class="right">
							<div class="album"><strong>comment title</strong></div>
							<div class="band">
								<div>By: Bhaumik Patel on 11 Nov 2013</div>
								<div>comment div comment contents</div>
							</div>
						</div>
					</div>
					
				</li>								

			</ul>
		</div>






	</div>

	<footer>
		<!-- footer 건들지 말긔! -->
	</footer>



	<script src="http://code.jquery.com/jquery-latest.js"
		type="text/javascript"></script>
	<script src="../js/resources/jquery.DG_Slider.min.js"
		type="text/javascript"></script>
	<script type="text/javascript">
		(function($) {
			$(function() {
				$('#slider1').DG_Slider({
					auto : false,
					pager : true
				});
			});
		}(jQuery))
	</script>



	<!-- header, footer 로드 스크립트!! -->
	<script>
		$('header').load('common/header.html');
		$('footer').load('common/footer.html');

		/* 
		window.setTimeout('window.location.reload()', 7000); //60초마다 새로고침
		 */
	</script>

</body>
</html>