<!DOCTYPE html>
<html>
<head>
<title>Beauty Chu~♥</title>

<meta charset="UTF-8">

<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon">

<script type='text/javascript' src='http://code.jquery.com/jquery-1.7.2.js'></script>
<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>

<style type="text/css">
	/* 스타일 적용 공간! */
</style>

</head>

<body class="home">
	<jy_header>
		<!-- header 건들지 말긔! -->
	</jy_header>



	<div id="wrap-chu" class="wrap-chu">
	
	<div class="wrapper">
	<div id="content">

		</div> <!-- #content -->
		</div> <!-- .wrapper -->
	</div> <!-- .wrap-chu -->


	
	<footer>
		<!-- footer 건들지 말긔! -->
	</footer>
	
	

	<!-- header, footer 로드 스크립트!! -->
	<script>
		 $('jy_header').load('common/jy_header.html');
		 /*$('footer').load('common/footer.html'); */
		
		/*  
		window.setTimeout('window.location.reload()', 50000); 
		 */ 
	</script>
	
	
</body>
</html>