<!DOCTYPE html>
<html>
<head>
<title>Beauty Chu~♥</title>

<meta charset="UTF-8">

<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="../css/basic.css"/>

<script type="text/javascript" src="../js/modernizr.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.js"></script>
<script type="text/javascript" src="../js/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src='../js/handlebars-v2.0.0.js'></script>

	<!-- 이거 추가해야함!!!!!! -->
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../js/jquery.js"></script>
    <script src="../js/jquery.form.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="../js/jquery.scrollTo.min.js"></script>
    <script src="../js/jquery.nicescroll.js" type="text/javascript"></script> 

	<!-- jQuery MultiFile Plugin import -->
	<script src="../js/jquery.MultiFile.js"></script>

    <!--common script for all pages-->
    <!-- <script src="../js/common-scripts.js"></script> -->

<style type="text/css">
/* 스타일 적용 공간! */

/* left sub menu */
.mypage-menu { line-height: 30px; height: auto; width: 150px; float: left;
	padding: 5px; margin-left: 10px; margin-top: 10px }
.mypage-title { text-align: center; font-size: 1.5em; }
.mypage-uname { text-align: center; font-size: 12px; }
.mypage-munu-list {margin-left: 20px;}

/* personalinfo CSS */
.personalinfo { width: 1000px; margin: auto; }
.pinfo-form {border: 3px solid gray; border-radius: 10px; padding: 40px; margin-top: 100px; margin-bottom: 100px;}
.title-pinfo {text-align: center; font-size: 40px; margin-bottom: 40px; }
.pinfo-form-control {width: 600px;}

.pinfo-subtitle {font-weight: bold; text-align: left; padding-left: 70px; margin: 10px 0px;}
.btn-qna-submit {margin: 20px; width: 610px;}
.pinfo-email {height: 20px; font-size: 12px; margin-bottom: 30px;}
.pinfo-content {font-size: 12px;}
.jy-form-group {width: 400px; margin: auto;}
#jyPreviewPhoto {height: auto; max-height: 150px; width: auto; max-width: 150px;
	margin: 10px auto; padding: 0;} 
/*    
.jy-btn-pinfo-fin { float: left;}
.jy-btn-cancel { float: left;}
 */
.jy-pinfo-btn-area {margin-top: 100px; text-align: center;/*  width: 60%; float: right; */}
.jy-btn-exit-fin {float: right;}

hr {display: block; margin-bottom: 30px; }

/* bring at "jy_demo.css" */
a, button {color: #74716D; text-decoration: none; outline: none; }
button {padding: 1em 2em; outline: none; font-weight: 600; border: none;
	color: #fff; background: black; }
.button-wrap {padding: 2.5em 0 0; font-size: 1.25em; }
button.trigger {background: black; color: #fff; border: none; }

/* table css setting */
#personal-info-mdf {margin: auto; }
.mdf-data-tr {height: 45px;}
.mdf-name {/*  border: 2px solid green; */ font-size: 13px; width: 120px; text-align: left;}
.mdf-content {/*  border: 2px solid blue; */}
#jy-mdf-user_phone1 {height: 25px;}
.jy-form-control-phone {max-width: 60px;}
.mdf-content input { height: 23px; width: 250px;}
</style>

</head>

<body>
	<header> <!-- header 건들지 말긔! --> </header>


	<div id="wrap-chu" class="wrap-chu">

		<div class="mypage-menu">
			<hr style="display: block;">
			<h2 class="mypage-title">MyPage</h2>
			<!-- <p class="mypage-uname">user name 님</p> -->
			<hr style="display: block;">
			<ul class="mypage-munu-list">
				<li class="mp-infomdf" id="mp-infomdf"><a
					href="jy_personalinfo.html">My Info</a></li>
				<li class="mp-coupon" id="mp-coupon"><a href="jy_mycoupon.html">My
						Coupon</a></li>
			</ul>
		</div>

		<section class='personalinfo' id='personalinfo'>
			<div class='pinfo-form'>
				<div class='title-pinfo'>
					<label>MY INFO</label>
				</div>

				<div>
					<hr style="display: block;">
				</div>

				<div class='pinfo-data'>

					<form name='frm' class='form-horizontal jy-mdf-info' role='form'
						method='post' enctype="multipart/form-data">
						
						<table id="personal-info-mdf">
						<!-- 이메일 -->
							<tr class='mdf-data-tr'>
								<td class='mdf-name'>이메일</td>
								<td class='mdf-content'>
											<input name='mdf-user_email' class='jy-form-control-modify'
												id='jy-mdf-user_email' type='email' maxlength='100' value=""
												placeholder='' disabled>
											<!-- 이메일입력 -->
								</td>
							</tr>
							<!-- 이메일 -->
	

						<!-- 닉네임 -->
							<tr class='mdf-data-tr'>
								<td class='mdf-name'>닉네임</td>
								<td class='mdf-content'>
									<input name='mdf-user_nickname' class='jy-form-control-modify'
										id='jy-mdf-user_nickname' type='text' maxlength='50'
										placeholder=' '>
								</td>
							</tr>
							<!-- 닉네임 -->

						<!-- 프사 등록 -->
							<tr class='mdf-data-tr'>
								<td class='mdf-name'>프로필 사진</td>
								<td class='mdf-content'>
									<input name='mdf-photo' class='jy-form-control-modify'
										id='jy-mdf-photo' type='file' onchange="realPath(this);" multiple />
								</td>
							</tr>
							<tr class='mdf-data-tr'>			
								<td class='mdf-name'></td>
								<td>		
									<!-- <div id='jyPreviewPhoto' class='jyPreviewPhoto'></div> -->
									<img id='jyPreviewPhoto' class='jyPreviewPhoto' src="" alt=""
										title='preview-image' />
								</td>
							</tr>
							<!-- 프사 등록 -->

						<!-- 주소 -->
							<tr class='mdf-data-tr'>
								<td class='mdf-name'>주소</td>
								<td class='mdf-content'>
									<input name='mdf-user_addr' class='jy-form-control-modify'
										id='jy-mdf-user_addr' type='text' maxlength='50'
										placeholder=' '>
								</td>
							</tr>
							<!-- 주소 -->

						<!-- 핸드폰 번호 -->
							<tr class='mdf-data-tr'>
								<td class='mdf-name'>휴대폰</td>
								<td class='mdf-content'>
									<select id="jy-mdf-user_phone1">
										<option value="">::선택::</option>
										<option value="010">010</option>
										<option value="011">011</option>
										<option value="016">016</option>
										<option value="017">017</option>
										<option value="019">019</option>
									</select> 
									<input name='mdf-user_phone' class='jy-form-control-phone'
										id='jy-mdf-user_phone2' type='text' size="4"
										onkeypress="JYonlyNumber();" /> 
									<input name='mdf-user_phone' class='jy-form-control-phone' 
										id='jy-mdf-user_phone3' type='text' size="4" />
								</td>
							</tr>
							<!-- 핸드폰 번호 -->

						<!-- 비밀번호 -->
							<tr class='mdf-data-tr'>
								<td class='mdf-name'>비밀번호</td>
								<td class='mdf-content'>
									<input name='mdf-user_pw' class='jy-form-control-modify'
										id='jy-mdf-user_pw' type='password' maxlength='20'
										placeholder='4~20자로 입력해주세요.'>
								</td>
							</tr>
							<!-- 비밀번호 -->

						<!-- 비밀번호확인 -->
							<tr class='mdf-data-tr'>
								<td class='mdf-name'>비밀번호 확인</td>
								<td class='mdf-content'>
									<input name='mdf-confirm_pw' class='jy-form-control-modify'
										id='jy-mdf-confirm_pw' type='password' maxlength='20'
										placeholder='비밀번호를 재입력 해주세요.'>
								</td>
							</tr>
							<!-- 비밀번호확인 -->

							<!-- 비밀번호 일치 체크  -->
							<tr class='mdf-data-tr' style="height: 10px;">
							<td></td>
							<td class='mdf-content' id="jy-mdf-pw-check" style="font-size: 12px;"></td>
							</tr>
							<!-- 비밀번호 일치 체크  -->
							</table>

						<div class='jy-pinfo-btn-area'>
							<button id='jy-btn-pinfo-fin' class='jy-btn-pinfo-fin'
								type='button'>
								<span class='jy-btn-fin'>완료</span>
							</button>
							<button id='jy-btn-cancel' class='jy-btn-cancel' type='reset'>
								<span class='jy-btn-cancel'>취소</span>
							</button>
							<button id='jy-btn-exit-fin' class='jy-btn-exit-fin'
								type='button'>
								<span class='jy-btn-exit'>회원 탈퇴</span>
							</button>

						</div>

					</form>
				</div>

			</div>
		</section>

	
	</div>
	<!-- .wrap-chu -->

	<footer id="footer">
		<!-- footer 건들지 말긔! -->
	</footer>


	
	<!-- header, footer 로드 스크립트!! -->
	<script>
		$('header').load('common/header.html');
		$('footer').load('common/footer.html');
	</script>
	
	

	<script type="text/javascript">
	var imsiEmail;
		/* 핸드폰 번호 숫자만 입력 받기 */
		function JYonlyNumber() {
			if ((event.keyCode < 48) || (event.keyCode > 57))
				event.returnValue = false;
		}

		/* 프로필 사진 미리보기 ; for only profile image file preview */
		function realPath(input) {
			var img_path="";
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function(e) {
					$('#jyPreviewPhoto').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);

			}
			img_path = input.files[0].name;
			console.log("이미지 파일명" + img_path + "=" + input.files[0].name);
		}

		/* 사이트 열자마자 ajax로 로긴 여부 체크하고 계정 정보 미리 가져오기*/
		$.ajax({
					type : 'get',
					dataType : "json",
					url : '../json/auth/loginUser.do',
					success : function(data) {

						/* Login Success */
						if (data.status != 'fail') {
							console.log("login : " + data.status);
							console.log("email get : " + data.status);
							console.log(data.loginUser);
							console.log(data.loginUser.profilePhoto);
							//console.log("photo path : " + data.loginUser.profilePhoto);

							$('#jy-mdf-user_email').val(data.loginUser.email);
							imsiEmail = data.loginUser.email;
							$('#jy-mdf-user_nickname').val(data.loginUser.name);
							$('#jy-mdf-user_addr').val(data.loginUser.address);
							$('#jy-mdf-photo').attr('src',
						  		data.loginUser.profilePhoto); //fakepath!!

							if (data.loginUser.phone != null) {
								$('#jy-mdf-user_phone1').val(
										(data.loginUser.phone).substr(0, 3));
								$('#jy-mdf-user_phone2').val(
										(data.loginUser.phone).substr(4, 4));
								$('#jy-mdf-user_phone3').val(
										(data.loginUser.phone).substr(9, 4));
							}
							console.log(data.loginUser.email);

							/* 다만 main 전체가 떴다가 아래가 사라짐.. */
							$('.join').hide();
							$('.login').hide();

							/* Login Fail */
						} else {
							console.log("login : " + data.status);
							location.href = 'main.html';
							/* 다만 main 전체가 떴다가 아래가 사라짐.. */
							//$('.jy-mypage').hide();
							//$('.logout').hide();
						}

					},
					error : function() {
						console.log('로그인 ajax 실패');
						console.log('계정 얻기 ajax 실패');

					}

				});

		/* 패스워드 일치 검사  */

		function checkpassword() {
			var password1 = $('#jy-mdf-user_pw').val();
			var password2 = $('#jy-mdf-confirm_pw').val();

			if (password1 === null || password2 === null) {
				$('#jy-mdf-pw-check').html("비밀번호를 입력해주세요.");
				passwordpass = 0;
			} else if (password1 === password2) {
				$('#jy-mdf-pw-check').html("패스워드가 일치 합니다.^^").css("color",
						"blue");
				passwordpass = 1;
			} else {
				$('#jy-mdf-pw-check').html("패스워드가 일치하지 않습니다..").css("color",
						"red");
				passwordpass = 0;
			}
		}

		$("#jy-mdf-user_pw").keyup(function(data) {
			checkpassword();
		});

		$("#jy-mdf-confirm_pw").keyup(function(data) {
			checkpassword();
		});

		/* (미완료)회원 정보 변경하기 - ajax server로 data 보내서 update */
		$('#jy-btn-pinfo-fin').click(function() {
			
			$("form").ajaxSubmit({
				type : 'post',
				dataType : "json",
				url : '../json/user/fileUpload.do',
				data : {
					email : imsiEmail
				},
				enctype: 'multipart/form-data',
				success : function(data) {
					console.log(data);
					console.log(data.result);
					console.log("파일 보냈다!");
				},
				error : function(error){
					console.log("파일 안보냈졌어 제기럴 ")
					//alert("요청 처리 중 오류가 발생하였습니다.");
				}
			});
			
					$.ajax({
						type : 'post',
						dataType : "json",
						url : '../json/user/updateUser.do',
						data : {
							email : $('#jy-mdf-user_email').val(),
							name : $('#jy-mdf-user_nickname').val(),
							address : $('#jy-mdf-user_addr').val(),
							phone : $('#jy-mdf-user_phone1').val() + "-"
									+ $('#jy-mdf-user_phone2').val() + "-"
									+ $('#jy-mdf-user_phone3').val(),
							password : $('#jy-mdf-user_pw').val(),
							profilePhoto : $('#jy-mdf-photo').val()
						/* profilePhoto : $('#jy-mdf-photo').attr('src', data.loginUser.profilePhoto) */
						},
						success : function(data) {
							if (data.loginUser.email != null) {
								console.log("update : " + data.status);
								console.log(data.loginUser);

								//console.log(data);
								console.log("update PPhoto : " + data.status);
								console.log("photo path : "
										+ data.loginUser.profilePhoto);
								console.log($('#jy-mdf-photo').val().substr(12));

								//console.log(data.loginUser.phone.substr(0,3));
								alert("회원 정보가 변경되었습니다.");
							} else {
								console.log("회원 계정을 찾지 못하였습니다.");
							}
						},
						error : function() {
							console.log('회원 정보 변경 ajax 실패');
						}

					});

				});

		/* 회원 탈퇴하기 */
		$('#jy-btn-exit-fin').click(function() {

			$.ajax({
				type : 'post',
				dataType : "json",
				url : '../json/user/deleteUser.do',
				data : {
					email : $('#jy-mdf-user_email').val()
				},
				success : function(data) {
					if (data.loginUser == null) {
						console.log("delete : " + data.status);
						console.log(data.loginUser);
						alert("회원 탈퇴 되었습니다.");
						location.href = 'main.html';
					} else {
						console.log(data.status);
						console.log(data.loginUser);
						console.log(data.loginUser.email);
						alert("회원 탈퇴하지 못하였습니다.");
					}
				},
				error : function() {
					console.log('회원 탈퇴 ajax 실패');
				}

			});
		});
	</script>


	


</body>
</html>