<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>AJAX 코딩</title>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
	$(function() {
		$("#btn").click(function() {
			var formData = new FormData();
			formData.append("test2", $("input[name=test2]").val());
			formData.append("test3", $("textarea[name=test3]").text());
			formData.append("test4", $("input[name=test4]")[0].files[0]);

			$.ajax({
				url : '/saveFileTest.do',
				data : formData,
				processData : false,
				contentType : false,
				type : 'POST',
				success : function(data) {
					alert("성공!");
				}
			});

		});
	});
</script>
</head>

<body>

	<form id="ajaxform" action="/saveFileTest.do" method="post"
		enctype="multipart/form-data">
		<input type="text" name="test2" /><br />
		<textarea rows="10" cols="10" name="test3"></textarea>
		<br /> <input type="file" name="test4" /> 
		<input type="button" id="btn" value="전송" />
		</form>

</body>
</html>